[2018-01-29 20:39] marco-c opened #1 "Try using other network architectures"

[2018-01-29 20:39] marco-c opened #2 "Label dataset"

[2018-01-29 20:41] marco-c opened #3 "Support 'number' input type in the crawler"
https://github.com/marco-c/autowebcompat/blob/e3f77c7b48e017a0ddfe0116e8748964d36fa74c/collect.py#L104

[2018-01-29 20:42] marco-c opened #4 "Support 'checkbox' input type in the crawler"
https://github.com/marco-c/autowebcompat/blob/e3f77c7b48e017a0ddfe0116e8748964d36fa74c/collect.py#L104

[2018-01-29 20:42] marco-c opened #5 "Support 'search' input type in the crawler"
https://github.com/marco-c/autowebcompat/blob/e3f77c7b48e017a0ddfe0116e8748964d36fa74c/collect.py#L104

[2018-01-29 20:43] marco-c opened #6 "Add unit tests for the functions in utils.py"

[2018-01-29 21:18] marco-c opened #7 "Try using a network pretrained on ImageNet (e.g. VGG16)"
Docs: https://blog.keras.io/building-powerful-image-classification-models-using-very-little-data.html.

We should try both using the output of the network as features, and finetuning the top layers and finetuning all layers.

[2018-01-30 22:06] sagarvijaygupta commented on #2
@marco-c Could you please elaborate the issue?

[2018-01-31 02:23] amit2rockon commented on #2
labels.json file to be loaded with labeled data information of the data.

[2018-01-31 04:53] amit2rockon commented on #2
Some of the data are too explicit.  @marco-c  What to label the data which just differ in single character  'y','d'?

[2018-01-31 06:05] sagarvijaygupta commented on #2
@amit2rockon Thanks for the clarification. @marco-c  Should we not let more than one person do the labeling? We will get better voting in that case. Should I right code for that? That might even address the conflicting issue @amit2rockon has mentioned.

[2018-01-31 11:16] marco-c commented on #2
I've updated the first comment with a more thorough explanation :)

[2018-01-31 11:29] marco-c opened #9 "Setup .travis.yml to run flake8"
We should add flake8 to test-requirements.txt and write a .travis.yml to run flake8.
The flake8 configuration file should ignore line limit errors (E501).

[2018-01-31 12:35] SkullTech commented on #3
This issue should be closed as it was solved by #8

[2018-01-31 12:35] SkullTech commented on #4
This issue should be closed as it was solved by #8

[2018-01-31 12:36] #3 closed

[2018-01-31 12:36] #4 closed

[2018-01-31 12:39] marco-c opened #10 "Investigate cases where the crawler wasn't able to take screenshots"
There are a few cases where the crawler was not able to take screenshots. We should figure out why and try to fix any issue that we notice.

The files under `data/` are in the format `WEBCOMPAT-ID_ELEMENT-ID_BROWSER.png`. WEBCOMPAT-ID are the IDs from webcompat.com.
ELEMENT-ID are the element IDs where the crawler clicked before taking the screenshot.
BROWSER is the name of the browser.

We should

[2018-01-31 12:40] marco-c opened #11 "Keep running the crawler and collect more screenshots"
While doing it, we should also take note of on which sites the crawler fails to take screenshots.

[2018-01-31 12:41] marco-c commented on #10
To do this, the first step would be to create a script to list all the inconsistencies.

[2018-01-31 12:45] marco-c opened #12 "Investigate running multiple crawlers in parallel"
We should try to modify collect.py to run multiple instances of the browsers. Since the crawler is spending most of its time waiting (for the page to be fully loaded), running multiple instances can increase consistently the number of screenshots we can take per second.

[2018-01-31 12:46] marco-c opened #13 "Make the screenshots in the different browsers equal in size"
Right now, Chrome is showing a scrollbar that we should get rid of, as it is simply adding noise.
Once we remove the scrollbar, the screenshots are probably not the same size in Firefox and Chrome, so we should adjust it to be the same.

[2018-01-31 12:49] marco-c opened #14 "Investigate if we can find more elements to interact with"
Right now, the crawler is interacting with `button`s, some `input`s and `a`s:
https://github.com/marco-c/autowebcompat/blob/205aae8a174e2d263b9e98246c78a16b587179a7/collect.py#L74

[2018-01-31 12:51] marco-c opened #15 "Investigate if we can repeat the same steps in different browsers without element IDs"
Right now, we only interact with elements that have an ID and store the sequence of operations as a list of element IDs.
A lot of times on websites the elements don't have an ID though. Can we find a way to repeat the same steps that we perform in a browser on another browser without having the IDs of the elements?

[2018-01-31 12:54] marco-c opened #16 "Fix all flake8 issues"

[2018-01-31 13:25] #9 closed

[2018-01-31 13:54] marco-c opened #20 "Modify label.py and train.py to write/read labels to/from a CSV file instead of a JSON file"
This way it is more manageable to see diffs, as each line is a different data point.

[2018-01-31 13:55] marco-c opened #21 "Modify label.py to handle multiple people performing the labeling"
Modify the label.py script to handle multiple people performing the labeling (I would suggest simply adding a parameter PERSON, and writing a labels_PERSON.csv according to this parameter). Then, write another script that generates labels.csv from all the labels_*.csv files (basically storing the lines from labels_*.csv which agree on the label).

[2018-01-31 13:56] marco-c commented on #2
I've opened #20 for the first point and #21 for the second point. This issue will be about the labeling itself.

[2018-01-31 16:22] SkullTech opened #25 "Improve user-experience of get_dependencies.py"
The `get_dependencies.py` script prints no message, and takes a long time to finish its execution (as it involves downloading and extracting a zip file of size 1.4 GB). So while the script runs, it results in a poor experience of the user (as he doesn't know what's going on, and it gives off the impression that it's stuck). It can be improved by

- Printing some info while the execution occurs.
-

[2018-01-31 16:41] SkullTech opened #26 "ModuleNotFoundError for Tkinter"
[code]

This is happening because __Tkinter__ is being imported as `Tkinter`. For Python 3 it should be imported as `tkinter` (see this [SO answer](https://stackoverflow.com/a/17843652/5837426)).

[2018-01-31 17:07] #16 closed

[2018-01-31 17:14] #26 closed

[2018-01-31 17:21] SkullTech commented on #10
I am working on this. Just wanted to let people know so that we don't end up doing duplicate work.

[2018-01-31 17:22] marco-c commented on #25
For the progress bar, we could implement it ourselves with a few lines of code to avoid the dependency, something like https://gist.github.com/vladignatyev/06860ec2040cb497f0f3.
After all, we are probably never going to need any fancy cli feature othern than a simple argparse.

[2018-01-31 17:25] SkullTech commented on #25
Yes, you're right. Using `clint` and all would be overdoing it.

[2018-01-31 17:59] SkullTech commented on #10
Which format would be best for exporting the inconsistencies?
- A `CSV` with every row being an inconsistency
- A `JSON` as a list of inconsistencies, the list consisting of dicts detailing it.

[2018-01-31 18:06] marco-c commented on #10
Either CSV or a line-limited JSON (https://en.wikipedia.org/wiki/JSON_streaming#Line-delimited_JSON, that is a JSON object per line).

A normal JSON is a bit problematic because you can't easily see diffs between two versions of the file (e.g. if you just add one entry, the diff for a normal JSON file will show you the entire file).

[2018-01-31 19:06] sagarvijaygupta commented on #21
@marco-c Is it necessary to have different files for different persons? Like one person starts labeling images and has labeled 100 of them and then leaves, then we will create a file with these labels. Next day he again starts but the file name is not saved so he will have to start from start. Should I add a '''name_text_box''' in the start so that person is able to enter the name or select the fi

[2018-01-31 19:09] marco-c commented on #21
The person should be able to specify who they are by passing a "--person" option to label.py. The files will be named "labels_PERSON.csv", so they will be able to append results to it.

[2018-01-31 19:34] SkullTech commented on #21
@sagarvijaygupta are you working on this?

[2018-01-31 19:41] sagarvijaygupta commented on #21
@SkullTech Yes! I am on it.

[2018-01-31 22:32] marco-c commented on #20
Fixed by #28.

[2018-01-31 22:32] #20 closed

[2018-02-01 08:01] sagarvijaygupta commented on #15
@marco-c  we can try using the absolute ```XPath```. I think it should work.

[2018-02-01 11:21] amit2rockon opened #32 "Make collect.py support Mac and Windows too"
Using TensorFlow backend.
10280
_Traceback (most recent call last):
  File "/Users/amit/Documents/GitHub/autowebcompat/collect.py", line 203, in <module>
    firefox_driver = webdriver.Firefox(firefox_profile=firefox_profile, firefox_binary='tools/nightly/firefox-bin')
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/selenium/webdriver/firefox/webdriver.py", li

[2018-02-01 11:23] amit2rockon commented on #32
Even I tried different versions of selenium and got 3.3.2 to be better , resolved this issue but created the other issue with compatibility of webdrivers.

[2018-02-01 11:25] marco-c commented on #32
The script assumes that the system is Linux (it's using the webdriver binaries for Linux and the browser binaries for Linux). We should fix it to support Mac and Windows too.

In the meantime, you can try to run the script in a Linux VM.

[2018-02-01 12:52] marco-c commented on #15
We can try, the only problem is that I'm not sure it's supported exactly in the same way across browsers.

[2018-02-01 13:01] #25 closed

[2018-02-01 21:20] sagarvijaygupta commented on #15
@marco-c I was also searching about that only. It feels it won't be that feasible.

Though I found a much **better idea**!
 Considering we have all children with which we feel we can interact with, we can store all the attributes of that child we wish to work with even if it doesn't have ID.
So keeping this sequence saved we can than search all the elements in the next browser and match with all t

[2018-02-05 13:32] sagarvijaygupta commented on #15
@marco-c any thoughts on this?

[2018-02-05 14:12] #21 closed

[2018-02-05 14:38] sagarvijaygupta commented on #15
@marco-c  any thoughts on this?

[2018-02-05 18:40] sagarvijaygupta commented on #15
@marco-c  Please give a review on this idea? I wish to work on it.

[2018-02-05 19:01] marco-c commented on #15
The idea sounds good to me. I think we should keep both the ID version and add this capability too.
We should create a file alongside the screenshot to tell how the screenshot was generated (so that we can re-generate it if needed). Also the naming of the screenshots needs to change, as it currently contains the IDs.
It would be great if you could rewrite that script in Python, but doing it on the

[2018-02-05 19:05] marco-c commented on #15
The screenshot naming could be:
WEBCOMPAT-ID_BROWSER.png for the first load screenshots;
WEBCOMPAT-ID_ELEMENT-ID_SEQUENCE-NUM_BROWSER.png for the screenshots generated using the element IDs;
WEBCOMPAT-ID_SEQUENCE-NUM_BROWSER.png for the screenshots generated using this method (and a WEBCOMPAT-ID_SEQUENCE-NUM.txt file containing the attributes should be generated alongside it).

I suggest we do it

[2018-02-06 20:15] SkullTech commented on #6
@marco-c Which testing framework should we use for this project? I suggest [`pytest`](https://docs.pytest.org/en/latest/), it's one of the most robust ones out there.

[2018-02-06 20:15] SkullTech commented on #6
I can start working on this once we've decided on the framework to use.

[2018-02-06 20:42] marco-c commented on #6
👍 for pytest!

[2018-02-06 21:28] SkullTech commented on #6
Okay will start working on it ASAP. :D

[2018-02-06 23:56] SkullTech opened #37 "Rearrange the project directory structure"
Rearrange it into a structure like [this](https://docs.pytest.org/en/latest/goodpractices.html#tests-outside-application-code), as suggested by @marco-c [here](https://github.com/marco-c/autowebcompat/pull/36#discussion_r166479187). This will facilitate testing, among other things.

[2018-02-07 01:13] Zzoey opened #38 "Changes to complete code structure and format for better usage of Networks in both training and testing."
1. Following Pycode style guidelines.
https://pypi.python.org/pypi/pycodestyle

2. Classes for the Siamese module in order to the same module for different type of networks and on different datasets. Can make ease of parallelisation for quick results.

3. Function naming should be standardised accordingly.

[2018-02-07 02:09] Zzoey commented on #2
@marco-c A CNN learns more about the patterns in the image (Edges, Corners and their correlations) from example 2 it is evident that it will be difficult for a NN to learn the adversary and classify that both are compatible.

To detect differences, Y+D and N in a better way or even Y and D+N, I think we can focus more on, Finding ROIs (Attention based) and feed those patches to the NN. This can be

[2018-02-07 14:46] sagarvijaygupta commented on #15
@marco-c should I keep a file ```WEBCOMPAT-ID_SEQUENCE-NUM.txt``` for every screenshot or should I create one file and keep on appending a dictionary of type ```image_file_name : attributes```

[2018-02-07 15:15] marco-c commented on #15
As you prefer. Maybe a single file is better, to avoid creating too many files in the data/ directory.

[2018-02-07 15:27] marco-c commented on #32
Support for Mac has been added with https://github.com/marco-c/autowebcompat/pull/40.

[2018-02-07 19:05] sagarvijaygupta commented on #15
![999999999999999999_6_chrome](https://user-images.githubusercontent.com/19645459/35935731-5dd1fe4c-0c67-11e8-9259-c6aae2ee6553.png)
![999999999999999999_5_chrome](https://user-images.githubusercontent.com/19645459/35935732-5e167310-0c67-11e8-81c8-8baf499a1c38.png)
![999999999999999999_4_chrome](https://user-images.githubusercontent.com/19645459/35935734-5e58eefc-0c67-11e8-9f7c-2329a4e1d13c.png)
!

[2018-02-07 23:23] Zzoey commented on #1
@marco-c  I am planning to add, Resnet along with a siamese module as class now. Later I will proceed using pretrained models of these networks (Vgg, Resnet) and compare the accuracies. Then we will have a better picture about how to proceed (As I said in #2).  If you have something specific in mind, please let me know.

[2018-02-08 12:00] marco-c opened #43 "Collect screenshots at different times during the day or on different days"
Many websites (e.g. with a carousel, or with news) change pretty often their content, but the overall structure remains the same.
If we collect many screenshots for the same website over the day or over multiple days, we might be able to teach the network better to ignore differences in content and consider differences in structure.

See also https://groups.google.com/forum/#!topic/mozilla.compati

[2018-02-08 12:01] marco-c opened #44 "Consider using markup data too to train the network"
This might be a future enhancement.

[2018-02-08 12:47] amit2rockon commented on #13
![9465_chrome](https://user-images.githubusercontent.com/22710677/35973580-faf10990-0cfb-11e8-89a4-979760d9b42d.png)
![9465_firefox](https://user-images.githubusercontent.com/22710677/35973581-fb428ebe-0cfb-11e8-93ca-7b9617e96158.png)

I found scrollbars earlier in data.zip but not when i am downloading images while now, 1st image is by chrome and the 2nd one is with firefox.
whether this issue is

[2018-02-08 14:01] sagarvijaygupta commented on #13
@amit2rockon I am pretty sure many of the settings of browsers are system dependent. For me images are not coming same in size.

[2018-02-08 14:48] marco-c commented on #15
Actually, instead of creating one file per screenshot or one file only, let's create one file per webcompat-id.
No need for the script for now.

[2018-02-08 14:51] marco-c opened #45 "Instead of randomly choosing an element to interact with, choose all possible elements"
Currently, we are choosing elements to interact with in a random fashion.
Instead, we should explore all possible paths (up to a maximum level that we need to decide).

[2018-02-08 17:55] marco-c commented on #32
Support for Windows has been added with #42.

[2018-02-08 17:55] #32 closed

[2018-02-09 09:03] amit2rockon commented on #45
does it mean we have to interact with all elements which are present in the website and remove the use of random.shuffle(children) from collect.py?

[2018-02-09 10:25] marco-c commented on #45
Yes, probably a depth-first search with a limit on the number of nodes (and instead of backtracking, restart from the beginning).

[2018-02-09 12:31] marco-c opened #47 "Make `download` function in get_dependencies.py automatically detect the file name from the URL"

[2018-02-09 15:31] marco-c opened #49 "Make get_dependencies.py use the TarFile class instead of tarfile"
The TarFile class can be used as a context manager, so it is nicer.

[2018-02-09 17:41] #49 closed

[2018-02-10 10:14] Vedarth commented on #12
@marco-c Do you mean running browsers on different threads? I can work on that.

[2018-02-10 11:33] marco-c commented on #12
Yes. Right now we're running Firefox and Chrome in a single thread, we should try to run multiple threads (each one running Firefox and Chrome).

[2018-02-11 10:44] Vedarth commented on #12
@marco-c Alright. I will try to implement that.

[2018-02-11 10:46] Vedarth commented on #11
@marco-c Are we hosting it on a server like heroku or aws? It might make collecting screenshots quicker. I am not sure about labeling though.

[2018-02-12 15:47] marco-c commented on #11
Not yet. We could host it on Taskcluster (backed by aws) at some point.

[2018-02-12 19:54] nok commented on #1
We can test pre-defined and later fine-tuned networks, but I'm concerned about the size of the input layer, because a small length could distort and skew the relevant visual representation of the bug.

[2018-02-12 20:37] nok commented on #2
At the beginning I would start with screenshots based on equal page sources (same content), so only Y. Furthermore I would try to normalise the device settings to bring the rendered Firefox version closer to the rendered Chrome version. And maybe we could remove the system look and feel elements by injecting a small script before the screenshot will be taken.

[2018-02-12 21:22] nok commented on #38
Great suggestions!

In addition we could use cookiecutter which can scaffold a basic data science project:
https://drivendata.github.io/cookiecutter-data-science#directory-structure

[2018-02-12 23:27] marco-c commented on #2
Do you mean Y vs D+N?
N.B.: The screenshots are always based on equal page sources.

This is #13.

[2018-02-13 04:38] sagarvijaygupta commented on #12
@Vedarth are you working on it?

[2018-02-13 05:04] sagarvijaygupta commented on #14
@marco-c we can add radio-buttons also!

[2018-02-13 05:41] Vedarth commented on #12
@sagarvijaygupta yes i am. Will submit a pr after proper testing.

[2018-02-13 06:57] nok commented on #2
Yes, I meant Y vs D+N.

Thanks, today I don't have an overview over the issues and tasks.

[2018-02-13 10:26] marco-c commented on #2
No worries! And keep the suggestions coming ;)
It's better if you file a new issue for every idea you have. In the worst case we close it as a duplicate.

[2018-02-14 00:09] #15 closed

[2018-02-14 00:09] marco-c commented on #15
Fixed by #41.

[2018-02-14 00:14] marco-c opened #54 "Make the crawler check if screenshots for the operations were taken"
Right now, for each webcompat issue, we are just checking if we have taken screenshots for the main page. We should instead check if we have taken screenshots for all the possible operations too.

Basically, this should take care of the TODO here:
https://github.com/marco-c/autowebcompat/blob/5bb234eaac7bfbcb42bb5b6b6740d03adec6df35/collect.py#L220

Given the associated text file with the sequence

[2018-02-14 11:56] Scartiloffista opened #56 "data.zip in get_dependencies.py not available anymore."
https://www.dropbox.com/s/7f5uok2alxz9j1r/data.zip?dl=1 is not available anymore.

[2018-02-14 11:58] #56 closed

[2018-02-14 11:58] marco-c commented on #56
Thanks, I had forgotten to update the URL after #41 was merged.

[2018-02-14 18:36] rahuldcoder commented on #47
Is this issue fixed??I was looking for good first issues on this repository.

[2018-02-15 00:12] marco-c commented on #47
It's not fixed yet, but there's already a PR that is trying to implement this.

[2018-02-15 00:14] marco-c commented on #47
It's not fixed yet, but there's already a PR (#48) that is trying to implement this.

[2018-02-15 06:35] ManasviKundalia commented on #5
@marco-c Could you elaborate this issue? I didn't quite get what is to be done here

[2018-02-15 11:48] marco-c commented on #5
The crawler currently doesn't support [search input types](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search). We need to add support for it (close to the line mentioned in the first comment).
It also has to be tested with some website that has a search input type (you can use the MDN docs page).

[2018-02-15 13:25] ManasviKundalia commented on #5
@marco-c okay! I will work on it.

[2018-02-15 14:28] marco-c commented on #6
Since @SkullTech already has some experience with the project, it's better if someone else who is just starting takes this on to gain some experience.

[2018-02-15 15:00] sviter commented on #54
I think I can do this.

[2018-02-15 17:14] Shashi456 commented on #54
Can i take this up?

[2018-02-15 17:20] marco-c commented on #54
Seems like @sviter was interested too, can you find another issue to work on? Or see if @sviter wants to pick something else up.

[2018-02-15 19:33] poush commented on #37
Can I take this up?

[2018-02-15 20:57] poush opened #58 "Add UTF-8 Encoding to get_dependencies.py"
On running `python get_dependencies.py` we get an error as:

[code]

To solve this, the utf-8 encoding should be mentioned on get_dependencies.py

[2018-02-15 21:06] marco-c commented on #58
The project is requiring Python 3, where defining the encoding is not strictly necessary (it should be UTF-8 by default).

[2018-02-15 21:06] #58 closed

[2018-02-15 21:12] marco-c commented on #37
Sure!

[2018-02-16 17:14] nok commented on #37
Please be inspired by https://drivendata.github.io/cookiecutter-data-science/#directory-structure 😉

[2018-02-16 17:17] poush commented on #37
I think we can have project structure similar to this:

[2018-02-16 17:18] poush commented on #37
scripts based files apart from network.py and utils.py shifted to scripts/ directory for now. Once we transform them into OOP style then we can put it back on `autowebcompat`.

Please let me know how it can be improved more.

[2018-02-16 17:46] sagarvijaygupta commented on #45
@marco-c  I wanted to work on this issue! What should be the maximum level?

[2018-02-16 18:53] poush commented on #37
@nok Thanks, I will check it out.

[2018-02-16 19:16] Shashi456 commented on #6
Can i take this up ?

[2018-02-16 23:56] Zzoey commented on #1
@nok Yes, I understand.
To detect differences, Y+D and N in a better way or even Y and D+N finding attention based ROIs and feeding those patches to the NN would be a good idea. Because, some times the advertisements act as blocks and also grab most of the visual representation. Although this can be considered as an add-on to improve accuracy after using pre-trained and fine tuned networks. I gues

[2018-02-17 00:15] marco-c commented on #6
Sure, go ahead!

[2018-02-17 00:27] marco-c commented on #45
Currently it's 7, let's see if that works for this new approach too. Ideally define it in a global variable at the beginning of collect.py (e.g. `MAX_INTERACTION_DEPTH = 7`).

[2018-02-17 00:38] marco-c commented on #37
The structure looks good to me. Either with the scripts in the top-level directory or in the `scripts` subdirectory.

[2018-02-17 05:07] Shashi456 commented on #6
I wanted to know if these are the following unit tests are okay ? And i'm only majorly checking for functions with some parameters

`def test_mkdir():
    direc_path = os.path.dirname(os.path.realpath(__file__)) + "test"
    mkdir(direc_path)
    assert(os.path.exists(direc_path))`

`
def test_read_labels():
    labels = read_labels(file_name='labels.csv')
    assert('labels' in locals() or 'label

[2018-02-17 05:23] Shashi456 commented on #7
Although transfer learning might work in this , we'd have to finetune pretty deep into the network to make it work for this usecase . VGG16 was trained on 1000 classes of dogs and cats so finetuning just the top layers for this usecase might not work.

[2018-02-17 16:45] marco-c commented on #6
Hey @Shashi456, please write a PR, it's easier to review than a comment in an issue!
For creating directories and files, I suggest you put everything in a temporary directory (you can use the `tempfile` library) and clean everything at the end of the test.

[2018-02-17 18:52] #37 closed

[2018-02-17 19:14] poush commented on #13
I was checking out the dataset,
![10030_0_chrome](https://user-images.githubusercontent.com/1812082/36344713-76a773fe-1444-11e8-8cba-bb068c7a4cb5.png)
![10030_0_firefox](https://user-images.githubusercontent.com/1812082/36344734-9c7e703c-1444-11e8-838b-ec44b089df64.png)

Since the content is same irrespective if scrollbar is visible or not, we could simply scale the larger image to the size of sma

[2018-02-17 19:28] poush commented on #14
Can we add input type "color" and select tags ?

[2018-02-18 05:16] ManasviKundalia opened #65 "Support 'submit' input type in the crawler"
Around line 159
`elif input_type == 'radio':
elem.click()`

[2018-02-18 08:56] ManasviKundalia commented on #1
@marco-c Do you have any specific architecture in mind? Or perhaps we could add support for attention based layers ?

[2018-02-18 09:33] hardik124 commented on #1
@marco-c Do you think a YOLO type network will be good to identify relevant ROIs and then classify them?
I am new to this repository, so please correct me if I am wrong.

[2018-02-18 19:41] marco-c commented on #14
Sure, please file issues for any element you can think of that we don't already support. Those issues should be marked as `good first issues` reserved for new contributors though (at least until the GSoC starts).

[2018-02-18 19:44] yash-iiith commented on #65
What happens when the input type is 'submit'? I mean what should be there in the elif statement for 'submit'?

[2018-02-18 19:46] marco-c commented on #13
Instead of scaling, it would be more precise if we could get the same screenshot sizes directly. If we can't do that, I guess scaling would be an acceptable fallback solution.

This happens sometimes, but I think it's a problem of the screenshotting. We simply need to crop the image to the usual size in those cases.

[2018-02-18 19:59] marco-c commented on #65
They are basically buttons, so they should be clicked.

[2018-02-18 20:01] #5 closed

[2018-02-19 11:29] marco-c commented on #1
I am new to this repository, so please correct me if I am wrong.

I don't have specific ideas, we should just add whatever we think might work for us and then compare the results.

[2018-02-19 11:44] hardik124 commented on #1
@marco-c , Is there a documentation I can read?
I have very little knowledge of this repository ,but if we target some rendering glitches or bugs, we can use YOLO type network.

[2018-02-19 14:12] poush opened #67 "Support select tags in the crawler"
In collect.py add ability to support select tags

[2018-02-19 16:58] #12 closed

[2018-02-19 19:09] Shashi456 opened #68 "Expand the write_labels/read_labels tests to make sure read_labels can read labels written by write_labels"
The test_write_labels test in the test_utils.py file just simply asserts the existence of the file, a new test should be written or the same updated. This test should write the labels and then read them back. The read labels should be the same as the written ones.

See also PR #63.

[2018-02-19 19:14] Shashi456 opened #69 "Write unit test for the 'balance' function in utils.py"
A unit test has to be written for the `balance` function in utils.py.

See also PR #63.

[2018-02-19 19:21] Shashi456 opened #70 "Use the PyTest tmpdir feature instead of manually handling temporary directories through tempfile"
There's a nice pytest feature that you can use instead of manually using tempfile: https://docs.pytest.org/en/latest/tmpdir.html.

See also PR #63.

[2018-02-19 20:14] #6 closed

[2018-02-19 20:17] marco-c opened #71 "Write unit test for get_ImageDataGenerator function in utils.py"

[2018-02-19 20:17] marco-c opened #72 "Write unit test for CouplesIterator class in utils.py"

[2018-02-19 23:59] marco-c opened #73 "Add Travis CI badge to README"

[2018-02-20 00:00] marco-c opened #74 "Support collecting coverage when running tests"

[2018-02-20 00:01] marco-c opened #75 "Add tests for some functionality of the crawler"
Maybe moving some crawler code in a separate module under the autowebcompat directory.

[2018-02-20 00:01] marco-c opened #76 "Add tests for network.py"

[2018-02-20 00:02] marco-c opened #77 "Improve documentation in the README"
The documentation is pretty scarce, it needs to be improved.

[2018-02-20 00:10] marco-c opened #78 "Update data_inconsistencies.py script to account for changes in screenshot naming structure"
#41 broke the data_inconsistencies.py script. We should modify it to make it work again.

[2018-02-20 06:01] sagarvijaygupta commented on #45
@marco-c I started working on this issue.
According to the naming convention that is being followed it won't be possible to implement the given idea.
Also the ```text file``` generated will have to be changed accordingly for a given ```bug```.
 Any naming convention you would prefer? For the ```text file```  I was thinking to make it like a tree.
Something like this.
[code]

 And naming convention

[2018-02-20 06:50] poush commented on #74
@marco-c I was working on this issue. I see mainly two options coveralls and codcov for coverage with CI. Can you suggest which one to use, codcov makes use of 'python-cov' with pytest and coverage is calculated on Travis CI.

[2018-02-20 09:14] marco-c commented on #74
I prefer codecov's interface.

[2018-02-20 09:33] marco-c commented on #45
Regarding the text file, there are three options:
1) The solution you proposed;
2) Write a separate text file for each tree;
3) Write a tree after another in the text file, separated via a newline:
[code]

The name of the screenshot can either be: `WEBCOMPATID_lineNumberOfStep1_lineNumberOfStep2_lineNumberOfStep3_..._browser.png`
or:
`WEBCOMPATID_treeNumber_stepNumberInTree_browser.png`

Feel free

[2018-02-20 09:35] marco-c commented on #1
I'm going to improve the documentation (https://github.com/marco-c/autowebcompat/issues/77). At the moment, the documentation is the code (which is not too much anyway).

Sounds good to me. I have never used them myself, but it's worth testing them and comparing them with other solutions.

[2018-02-20 09:39] marco-c opened #79 "Add argparse interface to pretrain.py and train.py to select network architecture and optimizer"
Two steps here:
1) Add a function to network.py that returns the list of supported networks and a function that returns the list of supported optimizers;
2) Add [argparse](https://docs.python.org/3/library/argparse.html) interface to pretrain.py and train.py to select network and optimizer from those lists.

[2018-02-20 09:49] alisha17 commented on #79
I am working on this issue.

[2018-02-20 10:09] Shashi456 commented on #77
@marco-c What exactly are we looking for in the documentation? Should i start with #2  and elaborate on the problem statement first for a start?

[2018-02-20 10:14] marco-c commented on #77
I'm working on this myself. If you want, you can improve on the documentation I'm writing.

[2018-02-20 10:22] Shashi456 commented on #77
@marco-c  Alright

[2018-02-20 10:28] #77 closed

[2018-02-20 10:34] marco-c commented on #77
This is now fixed, feel free to suggest additions if you want.

[2018-02-20 12:37] Shashi456 commented on #77
@marco-c I had two suggestions for the documentation, one if we can document how to run the project locally? and the other if we could add a few lines at the top which talk about web compatibility briefly and then redirecting to some other page for some extra info.

[2018-02-20 12:42] poush opened #81 "Add support for input type 'color'"
Like  different actions we can add `color` input type as well.

[2018-02-20 12:51] poush commented on #70
@marco-c Can I take this up?

[2018-02-20 12:57] Shashi456 commented on #78
@marco-c can you tell me about the current screenshot naming convention?

[2018-02-20 13:24] marco-c commented on #70
This is reserved for newcomers (people who haven't touched the code base yet) for the time being. You can pick it up if in a week nobody else has.

[2018-02-20 13:25] marco-c commented on #77
What would you write?

There's a link now that brings you to a description of Web Compatibility.

[2018-02-20 13:26] marco-c commented on #78
This is the current naming convention: https://github.com/marco-c/autowebcompat/pull/41#issuecomment-364139567.

[2018-02-20 14:31] #54 closed

[2018-02-20 15:28] #74 closed

[2018-02-20 17:10] Shashi456 commented on #77
@marco-c
Something after get dependencies that the train / pretrain.py can be run directly to check how the current network fairs?

and also updating the structure of the project to explain about the rest of the files which have come up recently ? or is that not required?

[2018-02-20 17:23] poush commented on #75
I would like to work on this.

[2018-02-20 17:24] marco-c commented on #75
Sure, go ahead!

[2018-02-20 17:52] poush commented on #75
@marco-c Need some help here. So on checking collect.py, I think `read_sequence, get_all_attributes, screenshot` can be moved to autowebcompat directory and can be added in test cases. but get_all_attributes and screenshot is driver module dependent which they receive as parameter. So is it right way of doing this or should I think and try again?

[2018-02-20 18:11] marco-c commented on #75
For the functions that get a webdriver as parameter, you can create a webdriver in the test.

[2018-02-20 18:13] marco-c commented on #77
I think this should be clear from the description of the structure of the project, but we can add a short sentence.

It's not required, but not forbidden either :smile:

Feel free to submit PRs for any addition you think worth adding.

[2018-02-20 20:51] poush commented on #81
@marco-c Are you sure that 'testing' label is relevant for this PR?

[2018-02-20 20:58] marco-c commented on #81
Good catch!

[2018-02-21 09:13] marco-c commented on #1
I've updated README to add more documentation. Feel free to ask if you still have some doubts.

[2018-02-21 10:40] hardik124 commented on #1
@marco-c . Thanks.

[2018-02-21 19:03] marco-c opened #86 "Make sure there's only one element on the page with the given attributes"
In the first browser, when the crawler finds an element, it should check if there's no other element on the page with the same attributes.

In the second browser, when we are repeating the steps, we should assert that there's a single element on the page with the given attributes.

[2018-02-22 01:28] Shashi456 opened #87 "In data_inconsistencies.py, print how many screenshots we have collected and how many we could have collected"
@marco-c
Once #78  is fixed, I think a script should be written which ensures that inconsistent data is excluded and/or what part of the data collected is actually being used to train so that we have an idea of how successful we are at data collection and maybe update the crawler script later on.
Although i do know that labels.py will only take a set of images if both are present, i haven't seen a

[2018-02-22 05:58] ManasviKundalia commented on #86
@marco-c I will work on this

[2018-02-22 20:04] Vedarth commented on #72
I would like to work on it.

[2018-02-23 15:25] marco-c commented on #87
The functions in utils.py should already be taking this into account.

[2018-02-23 15:26] marco-c commented on #72
Sure, go ahead!

[2018-02-23 15:29] #73 closed

[2018-02-23 17:39] Trion129 commented on #81
Hi can I take this issue? would help me get started with the code :) Planning to contribute to autowebcompat in GSoC

[2018-02-23 18:52] Shashi456 commented on #87
@marco-c  Do all of them do this already? and what do you think about having the data coverage function, i think a measure of how successful we are at dataset collection could help us in the long run

[2018-02-23 21:04] marco-c commented on #87
Yes, the ones we care about.

Do you mean the number of webcompat bugs we haven't taken screenshots for yet? Yes, that sounds useful.

[2018-02-23 21:15] marco-c commented on #81
Sure, go ahead!

[2018-02-24 03:13] vibss2397 commented on #76
hi, I would love to work on this in order to get comfortable and to further getting to know more about the tool for GSoC

[2018-02-24 10:39] marco-c commented on #76
@vibss2397 sure, you can take this issue. A new `test_network.py` should be created in the tests directory, containing tests for some of the functions in `autowebcompat/network.py`

[2018-02-24 17:15] Shashi456 commented on #87
Yeah, I meant this. Do we take any note of what bugs we've collected for yet?

But also I was pointing at the fact that, if we are collecting about 1000 set of images through our crawler and then some say 100 sets are inconsistent, we are only using 90% of the collection. I think a measure of this could help us in the long run.

[2018-02-25 07:32] sukhoi commented on #71
Hi Marco, I would like to work on issue #71. Could you assign it to me. Thanks.

[2018-02-25 10:52] marco-c commented on #71
Hello @sukhoi, feel free to work on it!

[2018-02-25 11:17] marco-c commented on #87
Yes, a script to see how many we have collected can definitely be useful.

[2018-02-25 17:06] Trion129 commented on #43
Randomly, bugs can be scheduled using the Timer from threading.
[code]
This would also need a hash to be included with the date of screenshot. Maybe we can just use the day-month-year as the hash? That would avoid multiple screenshots in a single day. But when the crawler's waiting Timer thread executes after few days, it'll work.
This assumes a continually running crawler though.

Or randomly bug

[2018-02-27 16:48] Shashi456 commented on #7
@marco-c  can we make a list of architectures not tried yet?

[2018-02-27 16:57] marco-c commented on #87
This can be part of the data_inconsistencies.py script.

[2018-02-27 16:58] marco-c commented on #86
@ManasviKundalia sorry I missed your comment. That's correct!

[2018-02-27 16:59] marco-c commented on #7
@Shashi456 anything that is not in `network.py` has not been tried yet.

[2018-02-27 17:00] marco-c commented on #7
If you have an idea for a specific network, you can file an issue and mention this one.

[2018-02-27 17:56] marco-c commented on #43
For now, we are running the crawler manually.
So the only thing we should do is making the crawler store the date in the file name (and fix all the places where the name is used to account for the change).

N.B.: This has to wait for #88 to be merged.

[2018-02-28 15:57] Trion129 commented on #1
I found this architecture Simnet by Amazon Development Services, it uses a variation of Siamese network, they use 2 extra shallower models trained on downsampled images alongside the ImageNet,
The final results are better.
https://arxiv.org/pdf/1709.08761.pdf
![image](https://user-images.githubusercontent.com/8445249/36797217-6baf11dc-1ccd-11e8-884f-1855d69031d5.png)

I can try implementing this,

[2018-02-28 16:52] marco-c commented on #1
@Trion129 sounds good, please file an issue (`Try using Simnet architecture`) with the same description you put in your comment and add a reference to this issue.

[2018-03-01 07:57] Trion129 opened #96 "Try using Simnet architecture"
I found this architecture 'Simnet' by Amazon Development Services, it uses a variation of Siamese network, they use 2 extra shallower CNN models trained on downsampled images alongside the ImageNet,
The final results are better.
https://arxiv.org/pdf/1709.08761.pdf
![image](https://user-images.githubusercontent.com/8445249/36797217-6baf11dc-1ccd-11e8-884f-1855d69031d5.png)

This would be a great e

[2018-03-01 15:02] Trion129 opened #98 "Document that Git LFS is required and how to clone the repo with submodules"
On doing a fresh recursive clone of autowebcompat, the submodule for data fetches the `.png` files by filename but inside they have git signatures instead of content.
So it downloaded just 5MB data instead of 959MB.

How to reproduce bug:
1. `git clone --recurse-submodules git@github.com:marco-c/autowebcompat.git autoweb`
2. `cat autoweb/data/7_firefox.png`

![image](https://user-images.githubuser

[2018-03-01 18:42] marco-c commented on #98
The repository is using Git LFS. Have you installed it on your machine?

[2018-03-01 19:05] Trion129 commented on #98
Oh, that makes sense! Nope I didn't know Git LFS is a thing. Although it should be in the Readme's setup section, there might be more people that don't know about LFS.

[2018-03-02 05:49] vikasmahato commented on #67
Hi,
Can I work on this?

[2018-03-02 08:05] vikasmahato opened #99 "Downloading Images for training"
I just forked and cloned the repository and ran the following commands as described in the README
1. pip3 install -r requirements.txt
2. pip3 install -r test-requirements.txt

But when I run `python3 pretrain.py`I get the following error

`/usr/local/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from 'float' to 'np.floating' is depr

[2018-03-02 08:07] Shashi456 commented on #99
@vikasmahato you need to run the get_dependencies.py script

[2018-03-02 08:16] Shashi456 commented on #99
@vikasmahato  you need to run the get_dependencies.py script

[2018-03-02 08:24] Shashi456 commented on #99
@marco-c I see that you have removed the get_dependencies script and also mentioned that you've moved tools to some other git repository. How do you suggest that we cover that step now, i.e download the data ? could we update the readme to mention that.

[2018-03-02 08:27] vikasmahato commented on #99
@Shashi456 Would it be fine if I chekout a previous version of autowebcompat
and use the get_dependencies.py script from there?

[2018-03-02 08:28] Shashi456 commented on #99
@vikasmahato  for now i'm putting the old script of get_dependencies here , you should run this in your autowebcompat directory to download the images .

See the script [here](https://github.com/Shashi456/autowebcompat/blob/master/get_dependencies.py)

[2018-03-02 08:29] vikasmahato commented on #99
@Shashi456 Thanks a lot! :)

[2018-03-02 10:29] marco-c commented on #99
The data is stored in two git submodules, you just need to pull them too.
The submodules are using Git LFS, so you should install that too first.

Duplicate of #98.

[2018-03-02 10:29] #99 closed

[2018-03-02 10:34] marco-c commented on #67
Sure, go ahead!

[2018-03-02 10:52] #98 closed

[2018-03-02 11:23] Shashi456 commented on #7
@marco-c  has any networked pretrained on image-net(like vgg16 or inception) been run for this, the network.py although includes vgg i dont know if transfer learning has been tested?

[2018-03-02 11:32] marco-c commented on #7
No, not yet.

[2018-03-03 11:54] vikasmahato commented on #67
@marco-c can you please review this and suggest changes?
https://github.com/marco-c/autowebcompat/pull/100

[2018-03-03 14:01] adbugger commented on #69
Hi, is it ok to take this issue and work on it?

[2018-03-03 18:13] marco-c commented on #69
Sure!

[2018-03-04 09:22] Trion129 opened #101 "A directory for trained models"
If we train a model e.g. VGG16, it would be beneficial to have its pretrain.h5 available in a trained_weights directory.
e.g. in #96 , VGG16 from previous Siamese model can be used, with the first layer weights locked. The training and experimentation would get much faster this way.
This can work as a model zoo.

[2018-03-04 10:04] Trion129 commented on #81
Can be closed, as it is fixed

[2018-03-04 13:35] #81 closed

[2018-03-05 14:59] marco-c opened #104 "Use tag name too to identify elements"
Right now we use the attributes, it would be more precise if we add the tag name too.

[2018-03-05 18:09] marco-c commented on #67
Fixed by #100.

[2018-03-05 18:09] #67 closed

[2018-03-05 18:13] vikasmahato commented on #68
@marco-c  Can I work on this?

[2018-03-05 18:31] marco-c commented on #68
@vikasmahato this is reserved for people who haven't made any contribution yet.

[2018-03-05 19:19] vikasmahato commented on #68
No problem :)

[2018-03-05 19:20] adbugger opened #106 "utils.py 'balance' function does not return last element in balanced data"
According to the discussions with @marco-c on issue #69 , the balance function needs to be re-written:
1. to ensure that we return the last element in case of balanced data. This will be done by emptying the queue upon exit
2. to use queue implementation to balance, instead of stacks. This is done to preserve relative ordering amongst data items with same labels

Once that PR is closed, I'd be hap

[2018-03-05 19:29] #69 closed

[2018-03-07 11:29] marco-c commented on #79
@alisha17 are you still working on this?

[2018-03-07 13:33] alisha17 commented on #79
@marco-c If anyone wants to work on it feel free, because it will take me time..too caught up in university assignments. Sorry :(

[2018-03-07 13:53] marco-c commented on #79
OK. No worries, you can take your time.

[2018-03-07 22:50] #106 closed

[2018-03-08 09:15] sagarvijaygupta commented on #86
@ManasviKundalia are you working on this issue?

[2018-03-08 09:33] sagarvijaygupta opened #109 "Analysing false predictions"
After trying different models, we should be able to analyze which screenshots were falsely classified. With this we might be able to find some pattern or see some models which were able to predict some screenshots right while the other model failed to do so. This information will be useful for the improvement of models.

[2018-03-08 13:08] #78 closed

[2018-03-09 07:28] ManasviKundalia commented on #86
@sagarvijaygupta yes

[2018-03-09 07:48] vikasmahato commented on #101
Hi,
Can I work on this issue?

[2018-03-09 10:06] Trion129 commented on #79
This would be very beneficial! I'll work on it

[2018-03-09 10:23] marco-c commented on #79
@Trion129 if you can find another issue that nobody else has claimed yet, it would be better.

[2018-03-09 10:27] Trion129 commented on #79
Ah sure, no problems 😄

[2018-03-09 10:47] Trion129 commented on #104
Can I take this issue?

[2018-03-09 11:15] marco-c commented on #104
Yes!

[2018-03-09 20:13] vikasmahato commented on #7
Hi @marco-c
I am interested in working on this issue.

[2018-03-09 22:20] marco-c commented on #7
@vikasmahato go ahead. Choose a network you want to try, file an issue about it and link the issue to this issue.

[2018-03-10 08:20] vikasmahato opened #112 "Try using a network pretrained using Resnet 50"
References #7

This paper provides various benchmarks for pretrained models used for transfer learning.
https://openreview.net/pdf?id=Bygq-H9eg

It also suggests that using Resnet should perform better as compared to VGG.

[2018-03-10 20:01] amit2rockon opened #114 "Check if the collected image is of null size ."
Some null byte Images are collected which crashes pretrain.py/train.py .
For example, you can check 7815_firefox.png.
Deleting these null sized images fix the crashing issue.

[2018-03-11 05:54] Shashi456 commented on #114
@amit2rockon there is no 7815_firefox.png?

[2018-03-11 06:06] Shashi456 commented on #114
@amit2rockon also can you post a screenshot of this behaviour?

[2018-03-11 06:24] amit2rockon commented on #114
![screen shot 2018-03-11 at 11 49 07 am](https://user-images.githubusercontent.com/22710677/37250426-57314682-2522-11e8-844c-80c06a0139fb.png)
 I have also faced this issue earlier and resolved by deleting those null files .

[2018-03-11 06:28] sagarvijaygupta commented on #114
@amit2rockon can you run 7815 bug once again and check if it shows any error while taking the screenshot?

[2018-03-11 06:41] Shashi456 commented on #114
@sagarvijaygupta do you have 7815 in your data directory?

[2018-03-11 06:41] Shashi456 commented on #114
as far and having run the training.py/pre-train.py scripts i havent encountered this behaviour

[2018-03-11 06:43] Shashi456 commented on #114
@amit2rockon : we could do something like this to check if the loaded numpy array has some size i.e null or not
[code]

[2018-03-11 08:14] sagarvijaygupta commented on #114
@Shashi456 no I don't have 7815. And even after running collect.py to get screenshot of 7815 I get this.
![screenshot from 2018-03-11 13-43-23](https://user-images.githubusercontent.com/19645459/37251237-422b46ec-2532-11e8-9a1e-d8932f4cbf5e.png)

Without any file generated for 7815.

[2018-03-11 08:26] Shashi456 commented on #114
@sagarvijaygupta when was it that you cloned the data directory?

[2018-03-11 09:28] sagarvijaygupta commented on #114
@Shashi456  On 13th Feb.

[2018-03-11 11:34] marco-c commented on #114
There's no 7815_firefox.png, so probably it's an issue with your local setup.

[2018-03-11 11:34] #114 closed

[2018-03-11 12:40] vibss2397 commented on #104
@Trion129 are you working on this?

[2018-03-11 13:07] Trion129 commented on #104
@vibss2397 Yep

[2018-03-11 17:04] amit2rockon opened #115 "Dimensions of some images are like 412 × 24512 | 412 × 28868 | 412 × 19705 | 412 × 20474"
- 1134_0_firefox.png
- 1134_1_firefox.png
- 9409_1_firefox.png
- 9409_5_firefox.png
- 1527_firefox.png
- 1305_firefox.png
- 9409_firefox.png
example :

![1134_1_firefox](https://user-images.githubusercontent.com/22710677/37256087-06ce5f68-257c-11e8-8881-d775c15c15e8.png)

[2018-03-11 17:15] Shashi456 commented on #115
@amit2rockon the issue being? Because as far as i know all images are resized before being trained

[2018-03-11 19:24] vrishank97 commented on #112
Hi. I'm new here. I'd like to work on this issue.

[2018-03-11 19:29] marco-c commented on #112
There are already two PRs about this: https://github.com/marco-c/autowebcompat/pull/61 and https://github.com/marco-c/autowebcompat/pull/105.

[2018-03-11 19:29] marco-c commented on #112
N.B.: They are adding the architecture, but nothing regarding a pretrained network

[2018-03-11 19:36] vrishank97 commented on #112
Great. Should I add the new model with imagenet weights in network.py ?

[2018-03-11 19:37] vrishank97 commented on #112
Great. Should I work on this in network.py ?

[2018-03-11 19:38] marco-c commented on #112
Yes, the first step would be to figure out how to use an already pretrained network, since the size of our images are different than the default VGG, Resnet, etc.

[2018-03-11 19:53] vrishank97 commented on #112
I'm considering squashing images to 224x224. As we are mainly concerned with UI/UX elements and not text, I don't think squashing will affect performance.

[2018-03-11 20:04] marco-c commented on #112
Yeah, that's one of the option that we should try

[2018-03-11 20:14] vrishank97 opened #116 "Using the difference between images as input for the cnn"
We can try extracting the difference between images using opencv, and train the cnn on the 'differential image'. This approach should be less computationally expensive than siamese CNNs and may give us better results.

[Image difference example](https://www.pyimagesearch.com/2017/06/19/image-difference-with-opencv-and-python/)

[2018-03-11 20:14] amit2rockon commented on #115
@Shashi456  412 * xxxxx is resized to 192 *256 means xxxxx size vector is resized to 256 so clearly it is not possible to detect any difference even if the elements are interacted.

[2018-03-11 20:15] marco-c commented on #115
We need to make sure these images are cut to the right height in `prepare_images`.

[2018-03-12 01:32] marco-c opened #117 "Store current page source and DOM tree alongside screenshots"
We might use this data in the future to improve the classification.

[2018-03-12 06:07] vibss2397 commented on #117
Hey, could i work on this?

[2018-03-12 06:25] vikasmahato commented on #112
@vrishank97 I was working on this issue. However if you want to take it please let me know.

[2018-03-12 12:27] vrishank97 commented on #112
@vikasmahato Since we are just experimenting with different ways of getting the transfer learning to work, we'll get results faster if we work in parallel. I will try downscaling images to imagenet dimensions and re-training resnet 50 on it. What approach are you currently working on?

[2018-03-12 13:39] marco-c commented on #117
Sure!

[2018-03-12 15:07] marco-c opened #118 "When performing labeling, allow user to select the area of the image where the incompatibility lies"
With the current labeling system, we don't know where the incompatibilities lie but just whether there is at least an incompatibility or not.
This means we can't do things like training on clips of the images (because we wouldn't know if the clip contains an incompatibility or not).

We should store the areas where the incompatibilities lie alongside the labels.

[2018-03-12 15:32] marco-c opened #119 "Use flake8-isort"

[2018-03-12 15:44] sagarvijaygupta commented on #118
@marco-c Can I take this one? I should add a tkinter based interface for the same?

[2018-03-12 15:47] marco-c commented on #118
Sure! The current label.py can be modified, or if it is a pain to do it with tkinter you can use anything else.

[2018-03-12 16:21] sagarvijaygupta commented on #118
@marco-c In that case I will try to use OpenCV. Is it fine?

[2018-03-12 16:25] vikasmahato commented on #112
@vrishank97 I was also thinking the same. However since you are already doing it I'll try to use Inception V3 and see how it performs.

[2018-03-12 16:26] marco-c commented on #118
Yes, whatever you prefer/find easier to use.

[2018-03-12 16:26] marco-c commented on #118
The only requirement is that the resulting UI must be simple enough to use for labeling.

[2018-03-12 16:33] vrishank97 commented on #112
@vikasmahato Great. Can you try using the Inception-Resnet-v2 instead? It had a higher accuracy on imagenet.

https://research.googleblog.com/2016/08/improving-inception-and-image.html

[2018-03-12 16:35] vikasmahato commented on #112
@vrishank97 Sure!

[2018-03-12 16:48] vibss2397 commented on #117
Thanks,
also @marco-c i wanted to ask some questions about the proposal, where do you think would be a good place to discuss

[2018-03-12 16:49] marco-c commented on #117
@vibss2397 you can contact me on IRC or via email. If you have ideas on additional things to implement, you can file an issue directly.

[2018-03-12 16:52] Shashi456 commented on #112
@vrishank97 @vikasmahato I wanted to ask you both what are the steps in using any pretrained network , are you finetuning the last layer ?

[2018-03-12 16:57] vrishank97 commented on #112
We freeze the convo layers and retrain the fully connected layers with a custom softmax output layer.

[2018-03-12 16:58] vrishank97 commented on #112
Here are some resources
https://blog.keras.io/building-powerful-image-classification-models-using-very-little-data.html
https://towardsdatascience.com/transfer-learning-using-keras-d804b2e04ef8

[2018-03-12 17:16] marco-c commented on #112
We should try both approaches: freeze all except the top one and also keep training everything.

[2018-03-12 17:22] vrishank97 commented on #112
@marco-c The dimensions shouldn't be an issue for transfer learning. All images are resized by prepare_images() in utils.py

[2018-03-12 17:29] vrishank97 commented on #119
Can I take this up?

[2018-03-12 17:31] marco-c commented on #112
Yes, but by resizing we might be losing some information.

[2018-03-12 17:32] marco-c commented on #119
Sure!

[2018-03-12 17:35] vrishank97 commented on #112
Agreed. But I think its mainly the text areas where we lose information, major UI elements would still be recognisable, especially if we use Inception. It has an input of 299x299 instead of 224x224, so lower information loss.

[2018-03-12 17:38] marco-c commented on #112
Yes, hopefully yes.

[2018-03-12 18:17] Shashi456 opened #121 "Can't seem to run train.py"
Although i can pretrain.py successfully , i cant seem to run train.py. Except for the initial code the rest of the code seems same .

[code]

Does anyone have any idea why?

[2018-03-13 09:01] vibss2397 commented on #117
@marco-c  for storage do you think storing in a JSON file would suffice  which would contain different objects or should I make different text files for each screenshot

[2018-03-13 10:22] marco-c commented on #117
One file for each screenshot, otherwise the JSON file would be huge.

[2018-03-13 15:53] #86 closed

[2018-03-13 18:31] #70 closed

[2018-03-13 19:33] poush opened #124 "Update .gitignore, add .pytest_cache to it"
Also, I think the `.idea` created by Jetbrains editor should be added to the .gitignore.

@marco-c Please confirm it and add this as good first issue.

[2018-03-13 21:26] marco-c commented on #124
Yes, sounds good.

[2018-03-14 02:08] sdv4 commented on #124
May I be assigned to this issue?

[2018-03-14 03:40] Shashi456 commented on #121
@marco-c  do you think its a local error?

[2018-03-14 09:27] marco-c commented on #124
Sure, feel free to submit a PR.

[2018-03-14 12:04] marco-c commented on #121
dba9e1ff6808cb5b2151373c32d2da5b3040f8b9 fixes the problem

[2018-03-14 16:48] #87 closed

[2018-03-14 17:55] Shashi456 commented on #7
@marco-c  in the create network function in networks.py i see that we can load weights onto the network, have we tried that for vgg16 yet ?

[2018-03-14 17:59] marco-c commented on #7
No, nobody has tried that yet. If you do, please file an issue and link it here.

[2018-03-15 10:09] #124 closed

[2018-03-15 11:17] hardik124 commented on #115
@marco-c  Should we take image width as a standard and crop height accordingly?
(say width is X we cut height as (X/192) * 256) ?

[2018-03-15 11:18] hardik124 opened #131 "pretrain.py crashes and cannot identify images."
On running pretrain.py the following is the message :

[code]

[2018-03-15 11:20] marco-c commented on #131
Duplicate of #98.
Git LFS is required (see the Setup section in the documentation).

[2018-03-15 11:20] #131 closed

[2018-03-15 11:21] marco-c commented on #115
We should crop the height to match the other images that don't have this problem.

[2018-03-15 12:59] #104 closed

[2018-03-15 13:00] hardik124 commented on #131
@marco-c  I have installed git lfs. And cloned the repo using git clone --recurse-submodules REPO_URL , Still I am getting this error.

[2018-03-15 13:03] marco-c commented on #131
What is the output of `cat data/8016_2_firefox.png`?

[2018-03-15 14:01] hardik124 commented on #131
@marco-c  I am cloning the repo from scratch. I think it is due to git-lfs itself.

[2018-03-16 08:53] Trion129 commented on #115
What could be causing such screenshots? 🤔

[2018-03-16 15:36] Shashi456 commented on #121
@marco-c  i'm still getting these errors :
[code]

and also this
Traceback (most recent call last):
  File "train.py", line 38, in <module>
    train_couples_len = sum(1 for e in gen_func(images_train))
  File "train.py", line 38, in <genexpr>
    train_couples_len = sum(1 for e in gen_func(images_train))
  File "train.py", line 31, in couples_generator
    yield load_pair(i), labels[i]
KeyError:

[2018-03-17 07:04] Shashi456 opened #132 "Not resizing inconsistent data"
#127 showed that a lot of images were inconsistent, I think we could avoid unnecessary space and computation if we did not resize inconsistent data . This way we could also probably load the pairs on faster.

[2018-03-17 07:04] Shashi456 commented on #132
@marco-c

[2018-03-17 10:36] Trion129 commented on #109
Is this being worked on? I can implement a GUI to do this.

[2018-03-17 11:20] marco-c commented on #132
The images are resized only once, so this would just add unnecessary complexity.

[2018-03-17 11:20] #132 closed

[2018-03-17 12:16] sagarvijaygupta commented on #109
@Trion129 I am not working on this issue and nobody else has yet commented so you can take this up. What sort of GUI are you planning? It should just display the screenshots which were wrongly classified. And if we feel that the labeling was incorrect in training itself just remove it from the `labels.csv` (and its bounding box line also if #128 is merged before this).
@marco-c can you review this

[2018-03-17 12:20] ManasviKundalia opened #134 "Minor bug in VGG16 block in network.py"
In block 2 of the create_vgg16_network function, line 39 should be
`x = MaxPooling2D(pool_size=(2, 2), strides=(2, 2))(x)`
instead of just
`MaxPooling2D(pool_size=(2, 2), strides=(2, 2))(x)`
It is missing the equality.

[2018-03-17 13:27] #119 closed

[2018-03-17 13:27] marco-c opened #136 "Pin flake8 version to 3.5.0"

[2018-03-17 13:29] marco-c commented on #134
Thanks for noticing, probably a regression from a refactoring.

[2018-03-17 13:33] marco-c commented on #109
A GUI that shows the wrongly classified screenshots sounds fine to me. It should show the screenshots, their name, actual and predicted labels.
Let's implement this first and then we can think about the removal from labels if we think the labeling is incorrect.

[2018-03-17 13:34] marco-c commented on #109
Or also just a CLI that tells you which screenshots were wrongly classified, then you can just open the screenshots for yourself.

[2018-03-17 14:05] Trion129 commented on #109
I'll go with implementing GUI version, I have worked with pyqt5 library before. @sagarvijaygupta I see you use tkinter in the new PR, how is it compared to pyqt5?

[2018-03-17 14:15] sagarvijaygupta commented on #109
@Trion129 since not much things are involved in this GUI you can simply use Tkinter. Opencv should only be preferable if PR #128 is merged.

[2018-03-17 14:25] Shashi456 commented on #136
@marco-c  isnt this just adding ```flake8==3.5.0``` in the setup.cfg file?

[2018-03-17 14:46] #121 closed

[2018-03-17 14:46] marco-c commented on #121
The labels error is expected since we have no labels yet. We should maybe make it work with the labels we have, filtering out the images with no labels, but it's another issue.

[2018-03-17 14:52] marco-c commented on #109
Yes, it would be preferable to reduce the number of dependencies. Use either Tkinter (no dependencies) or OpenCV (which will be a dependency after #128).

[2018-03-17 14:53] marco-c commented on #136
Yes.

[2018-03-17 14:59] Shashi456 commented on #121
@marco-c  did the No file or directory issue get solved?

[2018-03-17 15:10] #136 closed

[2018-03-17 15:33] marco-c commented on #121
Yes, the first issue should be solved now. A PR for the second issue would be welcome, but please file an issue first.

[2018-03-17 17:43] #134 closed

[2018-03-17 18:25] Shashi456 commented on #121
@marco-c  as a temporary measure would you want to add a try except block to the couple_generator, that way training atleast wouldn't stop ?

[2018-03-17 18:29] marco-c commented on #121
I think it's better to implement the clean solution directly, since it's easy (at the beginning of train.py the images that have no labels should be discarded).

[2018-03-17 18:30] marco-c opened #138 "Training script should ignore images for which we don't have labels"

[2018-03-17 18:30] marco-c commented on #121
I've filed #138.

[2018-03-17 20:05] #138 closed

[2018-03-17 20:15] Shashi456 opened #140 "Removing Deformed labels from the labels.csv"
Labels.csv has some file names which are not present in images , probably caused due to some error while writing .
Namely :
3516_rfc.index
10108_a-albumset-push.0

[2018-03-17 20:26] marco-c commented on #140
Can you check if there's any file starting with `3516` or `10108` in the data directory?

[2018-03-17 20:27] Shashi456 commented on #140
@marco-c  yeah multiple files for both formats

[2018-03-17 20:29] Shashi456 opened #142 "Convert string labels to categories"
The following error comes up when i try to run train.py

[code]

[2018-03-17 20:30] marco-c commented on #142
The labels should be converted to a format that Keras understands.

[2018-03-17 20:31] marco-c opened #143 "Add an argument for train.py to choose between training for Y vs D+N or Y+D vs N"

[2018-03-17 20:36] Shashi456 commented on #142
@marco-c
In the labels.csv file, would that look somewhat like i.e a one hot encoding

[code]

or would it rather be  a value like -1,0,1

[2018-03-17 20:40] marco-c opened #144 "Add a test that checks that all files mentioned in labels files actually exist"

[2018-03-17 20:47] Shashi456 commented on #144
I will take this up.

[2018-03-17 21:04] #140 closed

[2018-03-17 21:25] #79 closed

[2018-03-17 21:51] amit2rockon commented on #143
I am working with this.

[2018-03-17 22:05] marco-c commented on #142
This is going to be binary classification, so we can just use 1 and 0.

[2018-03-18 06:44] Shashi456 commented on #142
@marco-c  so we would probably have to two set of labels ?
To make #143 possible , we could have the first set of labels Y vs D+N and then the second set of labels represents Y+D vs N

[2018-03-18 11:36] marco-c commented on #142
What do you mean by two set of labels?

[2018-03-18 11:47] Shashi456 commented on #142
@marco-c , I mean two columns in the labels.csv . One column which has y as 1 and n+d as 0 . And the other column which has y+d as 1 and n as 0.

[2018-03-18 11:48] marco-c commented on #142
I don't see why that would be necessary. We already have the labels as 'y', 'd' or 'n'. We can just transform them to 1 or 0 according to whether we are resolving Y vs D+N or Y+D vs N.

[2018-03-18 12:44] sagarvijaygupta opened #149 "Inconsistent sizes of screenshots with each other of chrome and firefox"
For images which have different sizes:
https://gitlab.com/marco-c/autowebcompat-data/blob/master/1022_firefox.png
https://gitlab.com/marco-c/autowebcompat-data/blob/master/1022_chrome.png

    img_blended = Image.blend(background, overlay, 0.5)
  File "/home/sagar/anaconda3/envs/autowebcompat/lib/python3.6/site-packages/PIL/Image.py", line 2390, in blend
    return im1._new(core.blend(im1.im, im2.

[2018-03-18 14:20] Shashi456 commented on #149
@marco-c  do you think inconsistent sizes overall are because of how the crawler interacts with the browser?

[2018-03-18 15:52] Shashi456 commented on #1
@marco-c  should we try out vgg19 , the microsoft resnet and other forms of inception later on ? i mean can we add them in networks.py?

[2018-03-18 16:50] marco-c commented on #1
Sure, we can add them.

[2018-03-18 16:56] #144 closed

[2018-03-18 17:07] marco-c commented on #149
I'm not sure what the exact cause is.

[2018-03-19 07:19] sagarvijaygupta commented on #149
There are 143 such types of inconsistencies. Should we just remove them? And put a check in `collect.py` so that next time no such screenshots are stored until we get the exact reason for this problem.

[2018-03-19 08:47] hardik124 commented on #116
@marco-c  Can I take this up?

[2018-03-19 08:47] hardik124 commented on #115
@marco-c  Can I take this up?

[2018-03-19 10:49] marco-c commented on #115
Sure

[2018-03-19 10:50] marco-c commented on #116
Sure, no need to ask. Issues are available until there is a PR fixing them.

[2018-03-19 10:52] marco-c commented on #149
No, I'd prefer to keep them. Some of them might be valid after cropping (#115).

[2018-03-19 11:39] hardik124 opened #150 "Add validation set and callbacks in pretrain and train scripts"
Currently, we only have train accuracy and its not being validated. We can go for a simple validation script or a K fold validation.
With validation check , we can add callbacks such as early stopping and model checkpoints.

[2018-03-19 11:43] marco-c commented on #150
I think simple validation is preferable. K-fold is not feasible, the training takes too much time.

[2018-03-19 11:44] hardik124 commented on #150
@marco-c Can i take this up ?

[2018-03-19 11:54] marco-c commented on #150
Until there is a PR for an issue, the issue is available for anyone to work on it.

[2018-03-19 12:01] marco-c commented on #101
Closing since it's not actually an issue.

[2018-03-19 12:01] #101 closed

[2018-03-20 08:13] Shashi456 commented on #142
@marco-c if i make a function for this , i will have to return the labels in a dictionary format right { webcompatid : 1/0} ?

[2018-03-20 11:12] marco-c opened #151 "Add flake8-quotes"

[2018-03-20 11:55] marco-c commented on #142
@Shashi456 what do you mean? Maybe if you open a PR showing what you mean it would be easier to discuss.

[2018-03-20 13:08] #151 closed

[2018-03-20 13:19] #96 closed

[2018-03-22 10:30] sagarvijaygupta commented on #115
Should the cropping be simple like making them of same size directly or based on alignment using cross-correlation first and then cropping?

[2018-03-22 10:31] marco-c commented on #115
It can probably be simple, just taking the top part of the image. It might be worth manually checking that it's the most correct thing to do (e.g. compare the Firefox and Chrome screenshot and see if after cropping they have the same view)

[2018-03-22 21:43] #117 closed

[2018-03-23 19:55] #142 closed

[2018-03-23 19:57] Shashi456 opened #158 "Add a test for validating labels in test_labels.py"
Add a test to check that all labels belong to either y , n , or d.

[2018-03-24 06:08] vrishank97 opened #160 "Fix random seed"
We need to fix the seed for `random` so that the test-train split doesn't vary and accuracy becomes consistent.

[2018-03-25 16:35] #158 closed

[2018-03-25 16:47] #160 closed

[2018-03-27 10:21] vrishank97 commented on #116
Chrome
<img src="https://user-images.githubusercontent.com/14790428/37960719-f02555be-31d3-11e8-9d9f-dbf738b315b5.png" width=250>
Firefox
<img src="https://user-images.githubusercontent.com/14790428/37960720-f0bd5e22-31d3-11e8-8f4c-dc26c93a8fe3.png" width=250>
Differential Image
<img src="https://user-images.githubusercontent.com/14790428/37960721-f12d11f4-31d3-11e8-9a82-26569bf31e0c.png" width=25

[2018-03-28 15:06] Shashi456 commented on #10
@marco-c  what do you think we could do next regarding this ?

[2018-03-29 10:19] marco-c commented on #10
Manually look at the inconsistencies and see what prevented us from taking a screenshot. E.g. force the crawler to only load the website with an inconsistency and see if the crawler throws an exception in one of the browsers.

[2018-03-29 10:21] #65 closed

[2018-03-29 13:10] Shashi456 commented on #10
can you point me in a direction as to how i could work with the crawler in this case and force it to load a site?

[2018-03-31 16:50] marco-c commented on #10
The crawler is in `collect.py`, you need to change it to load a URL you want instead of loading an URL from one of the webcompat bugs.

[2018-03-31 18:24] #68 closed

[2018-03-31 18:37] #143 closed

[2018-04-02 13:52] Shashi456 opened #166 "Update Documentation to include argument Parser"
We recently added argument parser for train and pretrain.py script i think we should update the documentation to reflect the same

[2018-04-11 08:55] marco-c commented on #13
Some solutions to remove the scrollbars at the source are described here: https://stackoverflow.com/questions/9449562/how-to-remove-scrollbar-in-chromedriver-how-to-change-http-agent. I think the `--hide-scrollbars` one doesn't work anymore, as the flag has been removed. The second solution might work, but I wonder if it could cause other issues.

Another possible solution is to use mobile emulati

[2018-04-11 09:03] marco-c commented on #13
It looks like `--hide-scrollbars` was added back (only when in headless mode): https://github.com/chromium/chromium/commit/d71fc504213b7d60f98d8b1db9abb6bda280a042.

[2018-04-11 09:14] marco-c commented on #10
We have stored the webcompat ID, so you can retrieve the URLs either with Python by using `utils.get_bugs()` and finding the bug you want, or by loading the bug on the webcompat.com website (e.g. https://webcompat.com/issues/1491).

[2018-04-11 09:17] #166 closed

[2018-04-11 17:37] marco-c commented on #13
We should now make sure the screenshots are the same in size. Maybe we need to collect them in a VM or something like that to make sure everyone is collecting the sime size. Or maybe we can find another way to ensure it.

[2018-04-12 07:38] Shashi456 commented on #38
@marco-c  how would this probably be done? is it one entire file at a time? or does this issue need to be updated with a task list?

[2018-04-13 14:34] sagarvijaygupta opened #173 "Create final bounding_box.json file from bounding boxes of different users."
To create final `bounding_box.json` file, I am thinking of having IOU as the basic criteria with some defined threshold with at least 50% `bounding_box.json` from the `label_persons` directory agreeing with it.
We can discuss different ideas in this thread.

[2018-04-13 14:38] sagarvijaygupta opened #174 "Update README.md with new labeling methodology"

[2018-04-13 14:41] Shashi456 commented on #174
@sagarvijaygupta  you'll probably need to provide screenshots for the same

[2018-04-13 14:44] Shashi456 commented on #173
@sagarvijaygupta i have a couple of doubts in this regard , do you mean for each person A you'll keep adding the bounding box they created for a particular set of images to the bounding box jsons and then apply IOU with a threshold to get one definite value?

[2018-04-13 17:09] sagarvijaygupta commented on #174
@Shashi456 I made a comment in #128 which specify the instructions to annotate the images.

[2018-04-13 18:02] sagarvijaygupta commented on #173
@Shashi456 I am thinking of using all the bounding boxes for a given screenshot by all users who have annotated them and **calculate the maximum area of intersection with maximum people agreeing** with it (`there will be trade off between area of intersection and more people agreeing with it` - what trade off will be best I am not sure). Now for this area we know the bounding box we are talking ab

[2018-04-13 18:22] marco-c opened #175 "Add other browsers"
The more browsers we have, the more screenshots we can collect

[2018-04-13 22:56] marco-c commented on #38
Let's close this and refactor things as we see fit.

[2018-04-13 22:56] #38 closed

[2018-04-14 05:29] sagarvijaygupta commented on #173
I was going through [https://arxiv.org/pdf/1506.01497.pdf](url) `faster RCNN` and came across NMS (Non-Maximum Suppression). I think it will be more preferable.
@marco-c any thoughts about it?

[2018-04-14 16:10] #150 closed

[2018-04-14 18:09] Shashi456 commented on #175
@marco-c i had a couple of doubts regarding this. Is this the same as adding a webdriver for a particular browser and then updating collect.py so that this driver is also run alongside chrome and firefox ?

Apart from that , after we do add a browser won't we have to update data_inconsitencies.py and some functions in utils.py to accommodate these new set of images?

[2018-04-14 18:13] marco-c commented on #175
Yes, we will have to add a new webdriver and use it in collect.py and update all the places where we were just expecting Firefox and Chrome.

[2018-04-14 18:15] Shashi456 commented on #175
So should we add a task list in this Issue ?

[2018-04-16 18:34] Shashi456 commented on #175
@marco-c having taken a look into it, I've found that safari and edge both are dependent on their respective os and cannot be run cross-platform.
Should we still pursue adding browsers like opera? or should we add safari and edge driver irrespective of the there not being cross-platform support.

[2018-04-18 23:04] marco-c commented on #173
It sounds interesting, but maybe it's too much work?

[2018-04-18 23:15] marco-c commented on #175
Should we still pursue adding browsers like opera? or should we add safari and edge driver irrespective of the there not being cross-platform support.

Opera uses Chromium, so there will be no difference between Opera and Chrome.
Yes, I think we should try to add Safari and Edge when we are running the crawler on a supported OS.

[2018-04-19 02:07] Vedarth commented on #175
safari is available for windows. So windows supports edge and safari both officially. We can also use wine if we want to use it in linux imo.

[2018-04-19 08:02] sagarvijaygupta commented on #173
@marco-c I searched about NMS and found it is much similar to what I proposed above. If by

you mean about the length of code, it won't be much and is quiet easy to understand.
https://www.pyimagesearch.com/2015/02/16/faster-non-maximum-suppression-python/
has an implementation of it which is simple and fast enough.
We can think about other possible options also. As after this only we will be able

[2018-04-19 08:16] marco-c commented on #173
Sounds good then!

[2018-04-19 08:25] Shashi456 commented on #175
I've tried to run Safari through selenium on Windows , they use an extension which is only compatible with Safari installed on a MacOs.

[2018-04-19 08:54] Vedarth commented on #175
Although selenium supports safaridriver in windows, Apple has dropped support :( so It might not work properly. Sorry for the confusion. I think checking the os and choosing edge or safari based on that should be the way to go.

[2018-04-21 06:50] sagarvijaygupta commented on #173
![old](https://user-images.githubusercontent.com/19645459/39081328-f5eedbf4-455c-11e8-8647-631a78893f2d.jpeg)
![new](https://user-images.githubusercontent.com/19645459/39081325-eea9c48a-455c-11e8-9f46-8f5a31138ae6.jpeg)

@marco-c This is the output I am getting with overlapping threshold value of 0.5. Is it fine? Or should I make some changes.
Also I wanted to ask one thing. What should I do with

[2018-04-23 22:17] #71 closed

[2018-05-01 03:15] Shashi456 commented on #2
@marco-c i'd like to label parts of our dataset, how do you suggest i go about doing that ? because as far as i've seen there is no script which merges labels from the label_persons directory into the actual labels directory .

[2018-05-01 09:57] sagarvijaygupta commented on #2
@Shashi456 I think you are talking about `generate_labels.py`.

[2018-05-01 10:26] Shashi456 commented on #2
@sagarvijaygupta oh , i thought it wasn't updated for the new files :P

[2018-05-01 21:41] marco-c commented on #2
The script hasn't been updated yet to deal with bounding boxes, but you can already start labeling and pushing your labels file to the repo. Then, once we have the script done, we will actually combine the labeling done by you and the labeling done by other persons.

[2018-05-01 21:42] #174 closed

[2018-05-08 18:28] sagarvijaygupta opened #178 "Unable to run train.py"
I have been trying to run `train.py` for some time and I am unable to do so.

1. In `CoupleIterator` in `x1 = load_image(i1)`,  `i1` is itself a `numpy array` so calling `load_image` gives an error.
2. Even if I change `x1 = load_image(i1)` to `x1 = i1` I am getting accuracy = 0 and sometimes my laptop crashes.
I needed to know anything I am missing while running it?
` python train.py vgglike sgd

[2018-05-08 20:15] Shashi456 commented on #178
I dont think its a faut in the ```CoupleIterator``` since the same is working with pretrain.py

[2018-05-08 20:31] marco-c commented on #178
Fixed by a6649e5 and c183665.

[2018-05-08 20:31] #178 closed

[2018-05-09 04:50] sagarvijaygupta opened #179 "VGG16 inconsistent input shape"
With `MaxPooling2D` with strides size of image reduces in following manner

(?, 16, 12, 64)
(?, 8, 6, 128)
(?, 4, 3, 256)
(?, 2, 1, 512)

which in next step generates and error

[2018-05-09 07:48] #115 closed

[2018-05-11 16:30] marco-c opened #181 "Write notebooks that can be used for training"
Either rewrite train.py and pretrain.py as notebooks, or create notebooks that import those scripts and run them.

[2018-05-11 16:32] Shashi456 commented on #181
Why a notebook ? Because it's convenient to run ?

[2018-05-11 16:35] marco-c commented on #181
Yes, many services offer running notebooks.

[2018-05-11 16:35] sagarvijaygupta opened #182 "Change argparse interface for train.py"
So that `train.py` runs like:

 python train.py -n=vgg16 -o=adam -ct='Y vs D + N'

[2018-05-11 17:59] sagarvijaygupta commented on #179
Generally for pretrained models we use size of 224x224 or 227x227. We can think about it.

[2018-05-18 20:02] poush commented on #181
I like the idea of writing a notebook which imports these scripts and make them to run easily on notebook servers because I think it is convenient to write a script and able to test it directly through terminal.

[2018-05-20 10:55] Shashi456 commented on #182
Shouldn't we similarly change it for the pretrain.py as well @sagarvijaygupta @marco-c

[2018-05-20 11:00] Shashi456 commented on #181
@marco-c  a few questions before writing the notebooks, so when you say rewrite them would that mean simply converting them into cells or do you want places where the code is explained as well ?
Do you expect something similar to [this](https://cs.stanford.edu/people/karpathy/cs231nfiles/minimal_net.html)?

[2018-05-20 15:05] marco-c commented on #182
Yes!

[2018-05-23 06:03] marco-c commented on #181
Simply converting them into cells, that example looks good in terms of structure.

[2018-05-23 06:50] marco-c opened #184 "Collect screenshots in browsers running in an Android emulator"
This might be the best way to collect screenshots in consistent conditions.

[2018-05-23 07:05] #182 closed

[2018-05-30 08:57] marco-c opened #187 "Remove test-requirements install from train notebook"
It shouldn't be needed to install test-requirements, as they are only needed for development on the project.

[2018-05-30 09:49] #187 closed

[2018-05-31 10:01] marco-c opened #189 "Use force_single_line configuration for isort"
force_single_line makes diffs easier to read.

As part of this, we should probably also remove `line_length=150`.

[2018-05-31 14:37] #189 closed

[2018-06-02 11:28] sagarvijaygupta opened #191 "Error while trying to run vgg16 with input shape (224, 224)"

[2018-06-02 11:29] Shashi456 commented on #191
Isn't this similar to # 179?

[2018-06-02 11:41] sagarvijaygupta commented on #191
@Shashi456 We load all the images in `get_ImageDataGenerator` which presently is  `2 * 3046` into a given size of  `224x224` (we can't keep size to be 32x24 as @marco-c  mentioned that it was arbitrary). Since all images are loaded into memory I think this results in memory crash. #179 showed inconsistency with shape. This shows memory crash if I change shape.

[2018-06-02 11:48] Shashi456 commented on #191
@sagarvijaygupta  i'd like to replicate this bug, you just rain train.py right?

[2018-06-02 12:17] sagarvijaygupta commented on #191
Just change `autowebcompat/utils.py` `load_image` `target size` to `224x224` and run train.py to for vgg16

[2018-06-02 12:47] sagarvijaygupta commented on #191
@Shashi456 I checked that `tcmalloc` was just a warning. I think there is some other problem while I am running models other than inception. Were you able to run it?

[2018-06-02 12:55] sagarvijaygupta commented on #191
Update: I am able to run inception model with size (32x24) but it fails with size of (100x100) without even giving `tcmalloc` warning.

[2018-06-02 13:11] sagarvijaygupta commented on #191
Update: I was able to run vgg16 model but with `size (100x100)` and `batch size = 32`. Google Collab has nearly 13 GB of RAM.

[2018-06-02 13:13] Shashi456 commented on #191
@sagarvijaygupta I've been running into allocation issues , but I don't think it's because of the size. I was trying it locally on my PC. I'll try it again after rectifying the issue and update here.

And can you try 100*100 for all of them? We could make that default if it works for all of them

[2018-06-04 09:16] marco-c commented on #191
The size should be 2×3046×224×224×4 bytes, so 1222688768 bytes, so 1194032 KB, so ~1166 MB, so ~1,14 GB.
Maybe there's something else causing these OOMs?

[2018-06-04 09:40] Shashi456 commented on #191
@marco-c  i had an oom error with 3.69 gb of gpu memory available, now that you've told about the size i wonder what could be the cause?

If we are doing it on a gpu we could check out the tensorflow ```allow_growth``` configuration

[2018-06-04 10:03] sagarvijaygupta commented on #191
@marco-c I think in

we missed a factor of 3 (for the channels which makes it 3668066304 ~3.4 GB which is same as tmalloc warning). As I mentioned tmalloc part was just a warning but the training was getting killed. So issue should not be with the memory but something else.

[2018-06-04 10:28] sagarvijaygupta commented on #191
It is because we load all images at once.

in `get_ImageDataGenerator` (called from train.py with

takes all_images where we load all of them into x

[2018-06-04 10:30] marco-c commented on #191
We don't actually load them, I think the issue is this allocation: https://github.com/marco-c/autowebcompat/blob/051bfefd26e77f4aea902320e8ae9f1a35213d7e/autowebcompat/utils.py#L99.

[2018-06-04 10:34] sagarvijaygupta commented on #191
In the next line

https://github.com/marco-c/autowebcompat/blob/051bfefd26e77f4aea902320e8ae9f1a35213d7e/autowebcompat/utils.py#L101

i think we do load them into x.

[2018-06-04 10:39] marco-c commented on #191
Yes, but we load them progressively and not all at once.

[2018-06-04 10:41] marco-c commented on #191
So there are two big allocations here:
1) https://github.com/marco-c/autowebcompat/blob/051bfefd26e77f4aea902320e8ae9f1a35213d7e/autowebcompat/utils.py#L99
2) https://github.com/keras-team/keras/blob/2.1.1/keras/preprocessing/image.py#L688

[2018-06-04 10:48] marco-c commented on #191
We could temporarily comment out https://github.com/marco-c/autowebcompat/blob/051bfefd26e77f4aea902320e8ae9f1a35213d7e/autowebcompat/utils.py#L99-L104, after all we are not currently doing any of the things for which `fit` would be needed.

[2018-06-04 12:07] sagarvijaygupta commented on #191
As discussed on IRC to run model with target shape (224x224) on google colab you will require following config:

1. Set BATCH_SIZE = 8
2. Do not cache `images` in `load_image`ie,
[code]
3. Comment out the lines @marco-c specified above.

[2018-06-04 12:11] marco-c commented on #191
Maybe 3 is not actually needed, can you retest with only 1 and 2?

[2018-06-04 13:07] sagarvijaygupta commented on #191
Yes, 3 is not needed. Though when I run the script, I do get a tmalloc warning but training continues after that, without being killed.

[2018-06-04 16:55] sagarvijaygupta commented on #191
Update: With new notebook 1 is also not needed. :smile:

[2018-06-09 07:25] marco-c opened #194 "Tracking issue for the results of different network architectures"
We will use this issue to track the results of the different network architectures and training methodologies.

Add a comment in this issue when you are working on one of them (I'll write `in progress` to mark it), when you're finished with one of them (so I can mark it as done), or when you think of a new one to add.

* Pretrained with ImageNet:
- [ ] vgg16 @sagarvijaygupta
- [ ] vgg19 @sagarvija

[2018-06-09 07:35] Shashi456 commented on #194
@marco-c I think it'll be a good idea if we kept a list of the current architectures in a todo list format here. And whenever a new architecture was added we would update the list. This could help us keep track

[2018-06-09 07:37] marco-c commented on #194
Yes, this was exactly my idea :)

When you finish one, tell me here and I'll update the list.
If you want to add one, do the same.

[2018-06-09 07:40] marco-c commented on #7
Closing in favor of #194.

[2018-06-09 07:40] #7 closed

[2018-06-09 07:44] marco-c commented on #1
Closing in favor of https://github.com/marco-c/autowebcompat/issues/194.

[2018-06-09 07:44] #1 closed

[2018-06-09 07:46] marco-c commented on #112
Closing in favor of https://github.com/marco-c/autowebcompat/issues/194.

[2018-06-09 07:46] #112 closed

[2018-06-09 07:47] Trion129 commented on #194
:D Oh this is nice idea! One place to show all benchmarks!

[2018-06-09 09:41] sagarvijaygupta commented on #118
What should be the labeling for screenshots which differ in language? Like this one

![screenshot from 2018-06-09 15-09-58](https://user-images.githubusercontent.com/19645459/41190153-57d69db4-6bf7-11e8-9c37-a37bad89e1b3.png)

[2018-06-09 18:00] marco-c commented on #118
What is the URL for this case?

[2018-06-09 18:27] marco-c commented on #118
I guess we should classify them as being different, since the language detection worked in one browser but not in the other.

[2018-06-09 18:28] marco-c opened #195 "Implement a DOM-based technique without using CNN as a baseline"
We should compare our technique based on CNN with a technique that doesn't use machine learning.

[2018-06-09 18:29] sagarvijaygupta commented on #118
Okay! So I should mark the bounding box around whole text? And in the English side only?

[2018-06-09 18:30] marco-c commented on #118
Yes, around the text (and in this case the "NEXT" button too). In this case it looks like the English side is wrong, since the screenshots were collected on my machine.

[2018-06-09 18:34] sagarvijaygupta commented on #118
Oh! So in all images where there is language difference I will mark bounding boxes on Italian side.

[2018-06-09 18:38] sagarvijaygupta commented on #195
We should collect screenshots with DOM information also. Presently we don't have them.

[2018-06-09 18:51] marco-c commented on #195
We have implemented collecting DOM information too, but we haven't collected any.

[2018-06-09 22:18] sdv4 commented on #194
It looks like network.py contains implementations for 'inception', 'vgglike', 'vgg16', 'vgg19', 'simnet', and 'simnetlike' architectures. Are there other architectures that still need to be implemented?

[2018-06-10 18:19] marco-c opened #199 "Add pretrain notebook (like the train one)"

[2018-06-11 06:54] Shashi456 commented on #194
@marco-c i think we need to start thinking about a benchmark, when we start training these networks we will need to benchmark them against something (like human accuracy in cifar challenges) , what do you think?

and we havent added resnet to our networks yet.

[2018-06-11 14:59] sagarvijaygupta commented on #194
I was working on pretrained VGG16 model. Got validation accuracy of 80%. I was not able to save to file though (because of bug which will be fixed by #201 ).

83/82 [==============================] - 152s 2s/step - loss: 0.0243 - accuracy: 0.9672 - val_loss: 0.1793 - val_accuracy: 0.7841
Epoch 00050: val_accuracy did not improve from 0.80966
[0.1576942801475525, 0.8004807692307693]

[2018-06-11 16:18] sagarvijaygupta commented on #194
Should we create a directory where models will be saved? And should we change https://github.com/marco-c/autowebcompat/blob/80fd975f4df84444c751f861297895918cad245b/train.py#L84
with a name like `user_best_VGG16_model` or something like that? So that we can get a link between `train_info` file and the model?

[2018-06-12 05:22] #199 closed

[2018-06-12 05:28] marco-c commented on #194
As @Shashi456 said, ResNet. There are also other architectures that we might add, but I would focus on getting at least something basic working and then we can try to improve on it.

The benchmark could be https://github.com/marco-c/autowebcompat/issues/195.

80% is impressive for a first try! But it might be due to class imbalance, we should take it into account.

I'm thinking of creating another

[2018-06-12 11:09] Shashi456 commented on #195
@marco-c do we simply need to run collect.py to start collecting data with dom info?

[2018-06-12 15:23] sagarvijaygupta commented on #194
So should we consider Confusion Matrix for class imbalance? Or should we make the training dataset itself balanced (something similar to `pretrain.py`)?

We can simply name the model same as the name of the train_info file if that feels good?

Also I wanted to know that is there any particular reason we have implemented VGG16 and others as functions and not used the predefined ones available in `K

[2018-06-12 18:42] sagarvijaygupta commented on #194
Update : VGG16 pretrained with imagenet
High accuracy was indeed because of class imbalance. On checking results of predicted values after the latest model (which gave 90% accuracy on 15 epochs) I found that we have class ratio of `36:380`

I have attached the text file generated for the training.
[f8ece846acde_16_26_2018_06_12.txt](https://github.com/marco-c/autowebcompat/files/2095398/f8ece846ac

[2018-06-12 18:57] Shashi456 commented on #194
@sagarvijaygupta @marco-c I think we definitely need to handle class imbalance before taking these accuracy values . Because with a class I'm balance too high we would reach a certain amount of accuracy even if all the predictions were 'y'.

[2018-06-12 23:30] sdv4 commented on #2
I am running label.py on my mac, and I am finding that it is slow or unresponsive on non-y images. For instance, it takes a long from when I try to drop a boundary box to when it shows up and for the 'T', resizing arrow, and movement arrow show up. Clicking on any causes everything to disappear until I release my mouse + a couple of seconds.

Is this a problem that anyone else has come up against?

[2018-06-13 04:06] marco-c commented on #195
Yes, I think so. We implemented it recently. You should run it for a couple of websites and check that it is actually generating correct data.

[2018-06-13 04:17] marco-c commented on #194
I think we should consider confusion matrix. Making the training dataset balanced is feasible for pretrain.py because we have infinite training examples, but for train.py we have only a limited dataset.

[2018-06-13 04:17] marco-c commented on #194
Sounds good to me!

[2018-06-13 04:18] marco-c commented on #194
If we can reuse them, we definitely should. The first network I wrote was the "vgg-like" one, so clearly it wasn't available in Keras. Then when we added more I forgot there were already some available in Keras.

[2018-06-13 04:19] marco-c commented on #194
Indeed, this is probably what's happening with the 90% accuracy.

[2018-06-13 04:21] marco-c commented on #2
It could be a Mac issue, I think nobody has tested it on a Mac yet. Could you try in a Linux VM?

[2018-06-13 06:50] sagarvijaygupta commented on #194
@marco-c Should I create separate PR for each model which is available in [https://keras.io/applications/](url)? And for using pretrained models should we pass in argparse like `--weights=imagenet`?

[2018-06-15 05:56] marco-c commented on #194
Yes, but this is not a high priority. It doesn't matter for now if we keep our own implementation or if we reuse the already existing ones.

Sounds good to me!

[2018-06-15 06:44] sagarvijaygupta commented on #194
@marco-c using pre-trained weights might be simpler if we directly use keras models.

[2018-06-15 06:47] sagarvijaygupta commented on #194
@marco-c I totally forgot to remove the `prediction layer (softmax one)` while using pre-trained VGG16. We should not take those values as of now!

[2018-06-15 17:53] sdv4 commented on #194
Just a heads up, I am going to start testing the VGG 19 (from scratch) architecture. I will open a PR for this too.

[2018-06-16 18:45] sagarvijaygupta commented on #194
Network - ResNet50
Pretrained - Imagenet
Optimiser - sgd
Epochs - 20
Accuracy - 85.81%
[65d451c26877_18_38_2018_06_16.txt](https://github.com/marco-c/autowebcompat/files/2108443/65d451c26877_18_38_2018_06_16.txt)

Confusion Matrix:

    16    195

[2018-06-17 02:02] marco-c commented on #194
@sagarvijaygupta is this for `Y vs D + N` or `Y + D vs N`?

[2018-06-17 03:56] sagarvijaygupta commented on #194
@marco-c  This is for `Y vs D + N`. Its in the file. :smile:

[2018-06-17 04:01] sagarvijaygupta commented on #194
Network - vgg16
Pretrained - Imagenet
Optimiser - sgd
Epochs - 20
Accuracy - 87.25%
[65d451c26877_19_39_2018_06_16.txt](https://github.com/marco-c/autowebcompat/files/2108671/65d451c26877_19_39_2018_06_16.txt)

Confusion Matrix:

    23     188

[2018-06-18 15:37] sagarvijaygupta commented on #194
Network - vgg19
Pretrained - Imagenet
Optimiser - sgd
Epochs - 20
Accuracy - 86.77%
[4aa405f41ed8_14_47_2018_06_18.txt](https://github.com/marco-c/autowebcompat/files/2111927/4aa405f41ed8_14_47_2018_06_18.txt)

Confusion Matrix:

    30 180

[2018-06-19 00:23] marco-c opened #210 "label.py should print an help in the shell"
I always forget what the commands and colors are. We should output a description in the shell.

[2018-06-19 00:24] marco-c opened #211 "label.py opens windows that are overlapping"
There should be at least some distance between them, right now they are overlapping so I can't see the entire image.

[2018-06-19 00:25] marco-c opened #212 "label.py should use colors that are more different to each other"
Green and yellow are very similar.

[2018-06-19 00:42] sagarvijaygupta commented on #211
@marco-c  Can you please share a screenshot of how windows are opening? I made sure that they don't overlap in
https://github.com/marco-c/autowebcompat/blob/b127fdfe75d647568db86d97c44065b963574825/label.py#L249-L251
and just touch each other.

[2018-06-19 07:51] marco-c commented on #211
![overlapping](https://user-images.githubusercontent.com/1616846/41583984-fe775b9c-739d-11e8-96da-b031cf0e4c89.png)

[2018-06-19 09:13] sagarvijaygupta commented on #211
This is unexpected. It works fine for me. In your screenshot third window is opening fine. There is a problem with first or the second one. I will try to figure it out.

[2018-06-19 09:52] marco-c commented on #211
It might be related to the fact that my screen is HiDPI.

[2018-06-19 10:32] sagarvijaygupta commented on #211
For a temporary fix you can add some value to 20 in above part of code. I will try to find a solution till then!

[2018-06-19 11:19] sagarvijaygupta commented on #212
@marco-c We can take complimentary colors:
`red–cyan, green–magenta, and blue–yellow` anyone which you prefer?

[2018-06-19 11:46] marco-c commented on #212
Anything works, as long as they are clearly different colors :)

[2018-06-19 11:57] sagarvijaygupta opened #214 "Add argparse interface to choose labels file for train.py"
We are taking `labels.csv` which is aggregate of all labeled data in `label_persons`. We can add `--labels='path_to_csv'`, so that training (and testing) can be done on chosen set of data.

[2018-06-19 12:18] #210 closed

[2018-06-19 13:01] marco-c opened #215 "Collect screenshots again setting the language of the browser"
There are just too many examples where just the language is different. We should recollect some screenshots explicitly setting the language in the crawler.

[2018-06-19 13:30] #215 closed

[2018-06-19 17:20] sdv4 commented on #191
I have been having a difficult time using Colab over the past few days. Most times that I run my notebook, the process is killed. I have been trying to figure out why, and stumbled upon this post:

https://stackoverflow.com/questions/48750199/google-colaboratory-misleading-information-about-its-gpu-only-5-ram-available

I am also on the west coast of Canada, where the author of the post is also lo

[2018-06-19 18:04] sagarvijaygupta commented on #194
@sdv4 First of all, for the problem of GPU memory being shown nearly 500MB I did find a simple solution which works for me. Whenever you execute `train.py` you will see the amount of memory available like `totalMemory: 11.17GiB freeMemory: 11.10GiB`. If `freeMemory` is nearly 500 MB just restart the runtime (`Runtime->Restart Runtime...`). Mostly it is solved in one try. You won't get `OOM` or `re

[2018-06-19 23:37] sdv4 commented on #194
@sagarvijaygupta Regarding the accuracy issue, here is the text file after only one epoch, where val_accuracy is at 90.6%:

[Shanes-MacBook-Pro.local_13_01_2018_06_19.txt](https://github.com/marco-c/autowebcompat/files/2117251/Shanes-MacBook-Pro.local_13_01_2018_06_19.txt)

The number of training, test, and validation samples are the same as in the last txt you shared.

Also, thanks for the Colab

[2018-06-20 00:37] sagarvijaygupta commented on #194
@sdv4 your classification type is different. That might be a reason for it.

[2018-06-20 05:28] sdv4 commented on #194
@sagarvijaygupta yes, you were right. The numbers are more what was expected once I corrected the classification type:

Network - vgg19
Pretrained - none
Optimiser - sgd
Epochs - 50
Accuracy - 86.54%

[34198aa1594c_03_44_2018_06_20.txt](https://github.com/marco-c/autowebcompat/files/2117950/34198aa1594c_03_44_2018_06_20.txt)

Confusion matrix to follow.

[2018-06-20 05:33] sagarvijaygupta commented on #194
@sdv4 there is nothing as correcting the classification type. Your results were for different classification and they were correct for that. I guess we want results for both!

[2018-06-20 11:53] Shashi456 commented on #194
@marco-c do you think there's a neater way to record these observations, the issue will get pretty verbose afterwards and it will get harder to track the benchmarks

[2018-06-20 21:33] #214 closed

[2018-06-20 22:50] marco-c commented on #194
I think I'll just remove the comments at some point, and put the summary of the results in the first comment.

[2018-06-21 04:37] sdv4 commented on #194
Heads up, I am going to start testing the VGG16 and VGG-like architectures (from scratch variant).

[2018-06-22 07:59] sdv4 commented on #194
Network - VGG16
Pretrained - None
Optimiser - SGD
Epochs - 50
Accuracy - 80.29 %

[6c685b649c2b_07_55_2018_06_22.txt](https://github.com/marco-c/autowebcompat/files/2126764/6c685b649c2b_07_55_2018_06_22.txt)

Confusion matrix:
[[142  61]
 [ 22 191]]

[2018-06-22 17:20] Shashi456 commented on #195
@marco-c although the dom info seems to be getting collected properly it is very slow in doing so. and could you tell me how i could add them to the repo since it's a git lfs file ?

[2018-06-22 17:53] Shashi456 opened #222 "Labeling Guidelines Format issue"
When I ran label.py on my pc , i saw that the ```terminal_color``` class variables do not get read properly.
I have a windows 10 operating system.

![image](https://user-images.githubusercontent.com/18056781/41791382-35cbded8-7673-11e8-839e-8b7e2537199e.png)

[2018-06-22 17:56] sagarvijaygupta commented on #222
I never tested it on windows. It runs fine on Linux.

[2018-06-22 18:06] Shashi456 commented on #222
@sagarvijaygupta  Windows terminal doesn't handle ansi coding for colouring text like other (vt100 compatible) terminals.

there's a solution of using packages like colorama or ansicon. but I think that would be quite unnecessary

[2018-06-22 18:12] sagarvijaygupta commented on #222
@Shashi456  I didn't want to add any dependency so followed this approach. I think its better to add a platform check or remove it all at once.

[2018-06-22 18:15] Shashi456 commented on #222
@sagarvijaygupta yeah additional dependencies just for a display sounds like a hassle, removing it may be the way to go

[2018-06-22 18:19] sagarvijaygupta commented on #222
@marco-c What do you think?

[2018-06-22 23:32] marco-c commented on #222
Yeah we can just remove them, they are just fancy additions.
For both keys and colors, let's just wrap them between *.

[2018-06-24 11:15] #222 closed

[2018-06-24 11:37] marco-c commented on #118
I guess we can close this now, as it was done.

[2018-06-24 11:37] #118 closed

[2018-06-27 13:55] #212 closed

[2018-06-27 20:13] sdv4 commented on #2
@marco-c I am not having that problem on the Linux VM, so I can label a lot faster now. A couple of questions:

- Applying labels: suppose two images seem to only be different in terms of the position on the page that has been scrolled to (ex. Image 1 looks like image 2, except that image 2 has been scrolled down and thus exposes more of the page content). Would these be considered compatible, not

[2018-06-27 20:15] sdv4 commented on #2
Also, how would you label a pair of images when they show the same page except that one is in English and the other in Italian?

[2018-06-28 04:56] sagarvijaygupta commented on #2
@sdv4 you can take help from the #220 till it is merged. Those screenshots are marked by @marco.
For the last one you should mark them incompatible while drawing bounding box on Italian side.

[2018-06-30 09:51] marco-c commented on #2
Yes! You can open a PR that says "Add some labels from Shane Sims".

[2018-06-30 09:51] marco-c commented on #2
Are the other two questions answered by #220?

[2018-06-30 09:55] sagarvijaygupta commented on #2
@marco-c For the scroll one we have marked them as incompatible in screenshots, and for italian one we mark bounding boxes in italian side with incompatibility.

[2018-06-30 09:59] marco-c commented on #2
IIRC I've marked them as compatible, didn't I?

[2018-06-30 10:00] marco-c commented on #2
No maybe not, they should be incompatible (e.g. if clicking on a button causes a scroll in one browser, it should cause a scroll in the other browser too).

[2018-06-30 10:08] sagarvijaygupta commented on #2
https://github.com/marco-c/autowebcompat/blob/b18eae0999b6389b1cc84153f43b077eddccd9d8/collect.py#L162

And if this script works differently on two browsers then also it should be an incompatibility?

[2018-06-30 10:11] marco-c commented on #2
It shouldn't, but it's hard to tell whether it was this script that failed or something else.
Maybe we should just assume this always works.

[2018-06-30 10:11] sagarvijaygupta commented on #2
Okay!

[2018-07-02 12:17] sagarvijaygupta opened #227 "Get full page screenshot"
We need to get a full page screenshot for the web page open. In some cases it will be required to scroll horizontally also. We should discuss the naming convention and also what should be written in the corresponding file.

[2018-07-02 12:44] Shashi456 commented on #227
What about #184 , isn't consistency of more importance right now ?

[2018-07-02 12:59] sagarvijaygupta commented on #227
@Shashi456 #184 is definitely important but it will take some time to get to work on it. I don't have much experience with Android Emulator, but I think for that we will have to write the complete crawler script again.

What I mean by a full page screenshot is following:

1.  Take a screenshot. Name it something like `BUGID_ssNumber_HS0_VS0_BROWSER.png`
2.  Scroll by a fixed amount (say HShift) ho

[2018-07-02 23:04] marco-c commented on #227
Sounds good to me. The additional screenshots can also be used for training.
One thing to handle will be that each website will have a different number of screenshots. While we can handle each screenshot as a different element, using the additional information that some screenshots belong to the same site could improve accuracy (it's the same with the screenshots taken after interacting with the p

[2018-07-05 19:12] Shashi456 commented on #2
@marco-c @sagarvijaygupta  so while i was labeling the dataset one of the major themes that popped up was how chrome had a scrollbar. Almost all images which have a scrollbar are very similar but the scrollbars adds a shift which makes the overlay look incompatible .

Should we update the crawler options for chorme to remove the scroll bar or suggest the user something accordingly in the labeling

[2018-07-05 19:19] sagarvijaygupta opened #230 "Different window sizes for Firefox and Chrome in Crawler"

[2018-07-05 19:19] sagarvijaygupta commented on #2
@Shashi456 it is already removed from the crawler.

[2018-07-07 07:39] sagarvijaygupta opened #232 "Add screenshot name creation and parsing in utils.py"
As discussed in #228

[2018-07-09 12:44] sagarvijaygupta commented on #227
@marco-c with this addition we will can discuss following and I will start implementing them one by one (whichever we agree upon)

1.  Since we have a complete page screenshots, we should focus on webpage compatibility rather than screenshot-screenshot compatibility. We can add that these screenshots belong to same page (as you suggested). What I mean is that consider a webpage is loaded with an a

[2018-07-09 16:33] marco-c commented on #227
For 1 we don't have to do much, just take it into account while labeling, right?
2 is being done now with your latest PR.
3 would be interesting, but I'm not sure yet how to handle that. Can you file a follow-up issue for it?

I think we can now close this issue.

[2018-07-09 17:08] sagarvijaygupta commented on #227
For 1 we have to take it into account in labeling and in training also. I am not sure how to handle it but it will be important that models learn that there is a relation between two screenshots of same webpage and that is why we are marking them compatible even if they look different corresponding to each other, but when stitched together they look totally same beyond that advertisement point.
Ok

[2018-07-09 17:08] #227 closed

[2018-07-09 17:11] sagarvijaygupta opened #233 "Add information of horizontal and vertical shift of screenshot for a webpage in training"
As considered in #227 we can discuss how to implement this idea for training here.

[2018-07-19 22:21] marco-c opened #235 "Label script should prefer images that haven't been labeled by anyone yet"
This way we can more quickly get a larger number of labels.

[2018-07-19 22:31] marco-c opened #236 "Port crawler improvements from coverage-crawler to autowebcompat crawler"
https://github.com/mozilla/coverage-crawler/commit/f164a6de4a961277cb4006c6939290526bf5c955#diff-ee054b4b797f6c2a5743d2654764a8ed

https://github.com/mozilla/coverage-crawler/commit/7e4218a61d06da26477b6d740cd643f1808d29db?w=1

[2018-07-20 07:45] sagarvijaygupta opened #238 "Alignment Graph in xpert"
As mentioned in #226

Second part of matching is Alignment Graph.

[2018-07-20 07:51] sagarvijaygupta commented on #238
@marco-c this part I think it should be implemented in Crawler itself. I will output the result into a json format from the Crawler.

[2018-07-20 09:44] #235 closed

[2018-07-20 23:40] marco-c opened #240 "Sort labels when saving them"
utils.write_labels should sort the labels before saving them
https://github.com/marco-c/autowebcompat/blob/96708cb778d12f4f1ebf2ae299896a577049fcd4/autowebcompat/utils.py#L217

This way the diff when adding new labels is going to be smaller.

[2018-07-21 00:00] #240 closed

[2018-07-21 00:04] marco-c opened #241 "test_labels should validate all labels files"
There was one which had dos newline endings, which caused problems (fixed with 853399870ca1b53ec1069f732933ad91a090079d).
We should extend the tests in test_labels to validate all labels files.

[2018-07-25 14:53] sagarvijaygupta opened #245 "test_labels.py is not actually testing the screenshots actually exist"
https://github.com/marco-c/autowebcompat/blob/9dd4b2b38025920324ba0bbcb45fe307a51bdf72/tests/test_labels.py#L10

Should be changed to

[2018-07-25 16:47] sagarvijaygupta commented on #245
5478_4
5478_4
5991
6081_3
6081_3
7490_4
7490_4
8371
8371
9084_6
9084_6
@marco-c these labels are present in your csv file but not uploaded in gitlab

[2018-07-25 22:48] marco-c commented on #245
Ah yes, it's because I have some additional screenshots on my machine that I haven't pushed yet...

[2018-07-25 22:59] #241 closed

[2018-07-25 23:15] marco-c commented on #245
Since they are just a few, would you mind removing them manually as part of https://github.com/marco-c/autowebcompat/pull/246?

[2018-07-25 23:43] marco-c commented on #194
I've added usernames close to the networks people are testing, so we know who's testing what.

[2018-07-26 08:34] #245 closed

[2018-07-26 12:44] #232 closed

[2018-07-29 20:06] marco-c commented on #236
Exactly!

[2018-07-30 06:59] sagarvijaygupta opened #250 "Limit size of full page screenshot"
Some webpages are extremely big. Some like quora or linkedin come with infinite scroll. We should keep a limit on it.

[2018-07-30 07:14] Shashi456 commented on #250
Is there a way to detect infinite scroll in a website ?
I think if you keep a limit on the screenshot there may be some sites which are just long pages but don't get the entire image because of the limit.

Another approach could be whitelisting sites ,like having a case that if the website is quora or LinkedIn or Facebook then the limit could kick in.

[2018-07-30 11:38] sagarvijaygupta commented on #250
Infinite website is just a concern. Generally it starts loading when we reach very end (what I have noticed experimentally). So height provided is its initial height. Just wanted to make sure they don't create a problem.

[2018-07-30 13:31] marco-c commented on #250
We can put a sane limit, it's OK if we don't get all possible images for a website.

[2018-07-30 18:36] marco-c commented on #45
Reopened as we need to have a script to migrate the old data to the new naming scheme.

[2018-07-31 07:27] sagarvijaygupta opened #251 "Script to rename images and labels according to new convention"
As mentioned in #88, we need a script to `rename images` in `data`, `text files` corresponding to `bug_id` and `label_files` along with `bounding_box_files` in `label_persons`

[2018-07-31 08:38] sagarvijaygupta commented on #250
We actually want it:
This happened now for
Testing https://planet.mozilla.org/ (bug 10256) in firefox
I got more than 4832 images (all white and blank)

[2018-08-07 09:39] sagarvijaygupta commented on #43
@marco-c As you suggested we should store time in the file_name.
So new name will be something like
`bugid_seqno_H_width_V_height_date_7_08_2018_03_02_browser.png`!
If you feel it is right I will make the change.
We can also keep time info in another file mapped to its  name if you feel name becomes too long.
Also if you have the original screenshots taken by the crawler (without modifications or

[2018-08-21 15:34] marco-c commented on #43
Yes, looks good to me.

For now let's put it in the name. Then maybe in the future we will have a small json file alongside each screenshot with its metadata.

For the original screenshots, we could simply use the current time, it doesn't matter as they already have different names.

[2018-08-21 15:52] sagarvijaygupta commented on #43
I wanted to say that if we have their birth time info we can use it as it will be a meaningful information. So afterwards we can have features like `morning`, `evening`, `night` which might be helpful afterwards.
I will add the current time as of now. We can change it if required.

[2018-08-21 16:31] #251 closed

[2018-08-29 05:34] Shashi456 opened #260 "Implementing Object Segmentation networks for bounding box annotations"
We have started work on collecting bounding box annotations for our dataset, while our bounding-box labeled dataset maybe small. I think we should start thinking about implementing Object segmentation networks for the same. We could consider Fast(er)-RCNN, YOLOv3 and SSDs and check which performs the best.
I think this issue can be used for discussion about the same.

[2018-08-30 19:48] poush commented on #181
I have one suggestion since our primary purpose is to have a notebook file for train.py and pretrain.py. We can generate them through Travis process as part of a push to separate branch.

For eg, Commit -> Pushed to Master -> Travis Completes -> Post Travis Process Starts -> Create & Commit iPynb file and push it to separate branch say 'notebook' like 'gh-pages' concept
This way we will not be req

[2018-09-06 17:18] marco-c commented on #260
Sounds good to me, but we should first finish the basic implementation that doesn't use the additional info.

[2018-09-06 18:40] marco-c commented on #181
Interesting idea! We just need to make Travis be able to push to the repo, maybe we can create a fake GitHub account and use a secret env variable on Travis to store its password.

[2018-09-06 20:47] poush opened #261 "Throw a meaningful error in utils.read_labels when labels.csv is empty"
Nothing serious but I believe that utils.read_labels should count for the case when labels.csv is empty and set an empty array/dict of labels instead of throwing error.

[2018-10-10 08:05] ayush1999 opened #263 "Running pretrain.py gives FileNotFoundError."
Seems like there is a data file missing:

[code]

[2018-10-16 23:31] marco-c commented on #263
This is strange, can you try `ls -al data/8171_firefox.png`? Did you clone the repository with the steps in the README? (In particular, Git LFS is particularly important)

I see you have `cannot identify image file 'data/8171_firefox.png'` at the beginning of the log, this probably means that the file is corrupt.

[2018-10-24 22:05] marco-c opened #264 "Try training a neural network using the responses from a DOM-based tool as features"

[2018-10-24 22:06] marco-c opened #265 "Try using the responses from a DOM-based tool as additional features"
https://github.com/marco-c/autowebcompat/issues/264 is about trying to train a (shallow) network on the output of a DOM-based tool.
This issue is about augmenting the CNN with data from the DOM-based tool.

[2018-10-26 18:34] ayush1999 commented on #263
@marco-c I tried re-downloading all data files and running the pretrained.py file. I still get a few errors:
[code]

[2018-10-30 22:11] marco-c commented on #263
I've removed the invalid files, could you try again after pulling from latest master (make sure the `data` subproject is updated too).

[2018-12-05 05:06] #263 closed

[2018-12-05 21:52] aru31 commented on #261
I would like to work on this issue

[2018-12-06 23:04] marco-c commented on #261
Fixed by #269.

[2018-12-06 23:04] #261 closed

[2018-12-07 16:18] marco-c opened #271 "Create a web-based tool to show predicted differences"
The tool should be similar to the labeling tool, but only show images for which we predict there are differences.

We should have a button to file an issue on webcompat.com, and a button to say that the images are not different.

[2018-12-07 16:18] marco-c commented on #271
After this, we can move the labeling tool to be web-based too.

[2018-12-07 16:19] marco-c opened #272 "Move the labeling tool to be web-based"
Depends on #271.

[2018-12-07 16:30] marco-c commented on #211
Might be fixed by #272.

[2018-12-07 16:33] gabriel-v opened #273 "Use multiple releases of each browser"
Let's extend the project to use the last 10 major releases of each browser when collecting screenshots.

I'm considering creating a Docker container with the headless browser for each browser release version.

[2018-12-07 16:38] gabriel-v opened #274 "Try using mdn/browser-compat-data to automatically label screenshot pairs"
After https://github.com/marco-c/autowebcompat/issues/273 is done, use (mdn/browser-compat-data)[https://github.com/mdn/browser-compat-data] to try and guess when a browser will fail rendering a web page. Use this information to automatically label the dataset (labeling a pair as 'd' when one of the browsers should fail to render the page).

[2018-12-07 16:39] marco-c commented on #175
Probably not so valuable to add Edge after all: https://blog.mozilla.org/blog/2018/12/06/goodbye-edge/ :cry:

But maybe we can use it anyway so we have more diverse screenshots and we're more likely to have incompatibilities in our training set.

[2018-12-07 16:48] marco-c opened #275 "Investigate training a model to detect regressions in a browser"
Using the model we trained on the compatibility problem as a pretrained model, we can fine-tune it to the task of detecting regressions.

[2018-12-07 16:49] marco-c commented on #13
#184 might fix this.

[2018-12-07 17:04] marco-c commented on #271
In the first iteration, we will just show images that we have predicted already (using a crawler, we will daily collect screenshots and perform the prediction, the web-based tool will only show the results).
The user will be able to either click on "Create webcompat.com issue", which opens a link to open an issue in webcompat.com prefilling only the title, or on "Not different".

Then we will:
- A

[2018-12-07 17:04] marco-c opened #276 "When prefilling an issue on webcompat.com, prefill as much as possible"
We should prefill screenshots too.

Depends on #271.

[2018-12-07 17:06] marco-c opened #277 "Add possibility to navigate to websites on demand"
We will first do it in a cron job, then we should do it on demand.

[2018-12-07 17:17] gabriel-v opened #278 "Use Docker to run browsers and collect screenshots"
Build docker images with headless browsers. Each image should expose a port through which it will receive Selenium commands.

Try using https://github.com/SeleniumHQ/docker-selenium for this.

[2018-12-07 17:19] marco-c opened #279 "Train a baseline classifier"
We need to find some good options for the classifier to reach a baseline acceptable accuracy:
- [ ] Try vgg16, pretrained on imagenet
- [ ] Try vgg16, training from scratch
- [ ] Try vgg16, pretrained with pretrain.py

We can start with the RMSProp optimizer.

[2018-12-10 23:12] sdv4 commented on #279
Network - vgg16
Pretrained - none
Optimiser - sgd
Epochs - 50
Test Set Accuracy - 77.14%

Class balance:
Y: 53%
D+N : 47%

Confusion matrix:
[[201 101]
[42 264]]

[0af4373f3246_18_59_2018_12_10.txt](https://github.com/marco-c/autowebcompat/files/2665313/0af4373f3246_18_59_2018_12_10.txt)

[2018-12-15 18:46] sdv4 opened #280 "Out of memory error while training vgg16 and vgg19 with imagenet weights on Colab"
As in issue #191, when training with input shape (224, 224) and the following command line arguments:

```!python3 train.py -n=vgg16 -o=sgd -ct='Y vs D + N' -bw='imagenet'```

I receive the following error messages, followed by the process being killed automatically:
[code]
It seems that another full dataset allocation is happening somewhere else, besides where it was fixed in #270.

[2018-12-16 18:38] sdv4 commented on #279
Network - vgg16
Pretrained - pretrain.py
Optimiser - sgd
Epochs - 50
Test Set Accuracy - 45.98%

[2018-12-16 22:18] marco-c commented on #279
What exactly did you do in the pretrain.py case?

[2018-12-16 22:19] marco-c commented on #279
Also, could you try using rmsprop instead of sgd?

[2018-12-16 22:19] marco-c commented on #279
Actually, both, to compare exactly their results.

[2018-12-16 22:32] sdv4 commented on #279
Ahh, I was thinking that this might be the case. Now it makes sense why there was no .txt file, etc.
Do you have info on what is going on in pretrain.py; in particular the "slightly different problem (for which we know the solution)"?

[2018-12-16 22:39] marco-c commented on #279
This explains it all:
https://github.com/marco-c/autowebcompat/blob/master/pretrain.py#L58

The goal of the classifier in the pretrain case is to detect when two screenshots belong to the same website.

[2018-12-16 22:41] sdv4 commented on #279
Indeed it does, thanks!

[2018-12-20 23:00] sdv4 commented on #279
Class balance:
Y: 53%
D+N : 47%

Network - vgg16
Pretrained - imagenet
image size: (224,224)
Optimiser - sgd
Epochs - 50
Test Set Accuracy - 84.9%
N+D Prediction Precision: 85.5%
Confusion matrix:
[[254 47]
[43 264]]

[tensorflow-1-vm_21_49_2018_12_20.txt](https://github.com/marco-c/autowebcompat/files/2700848/tensorflow-1-vm_21_49_2018_12_20.txt)

note: I was able to train on the full size images

[2019-01-17 16:46] Andr0id100 commented on #72
Can I take up this issue?

[2019-01-17 17:14] marco-c commented on #72
Sure!

[2019-01-27 10:56] #280 closed

[2019-01-27 20:16] sdv4 commented on #279
@marco-c I also performed hyper-parameter optimization with random search, and [Hyperband](https://arxiv.org/abs/1603.06560). The best configuration found was via random search:

Network - vgg16
Pretrained - no
Test Set Accuracy - 80.1%
**N+D Prediction Precision: 88.1%**
Image size: (48,48)
Optimizer: Adam
Learning rate: 1.7e-5
Decay: 1e-6
Momentum: 0.74
Epsilon: 8.4e-8
fc1 L2 regularization stre

[2019-01-28 09:36] marco-c commented on #279
Not bad! We should improve the labeling to have better/more precise results